/* MAIN */
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*vertical-align:baseline;*/
  /*background:transparent;*/ }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  /*color: #000000;*/
  text-decoration: none;
  transition: all .3s ease;
  -moz-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease; }

a, a:hover, a:active, a:visited {
  text-decoration: none;
  outline: none; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

div {
  /*overflow: hidden;*/ }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif; }

ul, ol {
  /*clear: both;*/
  padding: 0px; }

li {
  list-style-type: none; }

img {
  border: none;
  width: auto;
  height: auto; }

header, footer, article, news, content, details, section, group, nav, bar, wrap_menu, blockh, blockv, title, block, wrap, clear {
  display: block; }

.clear {
  clear: both; }

::selection {
  color: #FFF;
  background: #5B7191; }

::-moz-selection {
  color: #FFF;
  background: #5B7191; }

.container {
  /*max-width: 1100px;*/
  margin: 0 auto; }

body {
  background: #EEEEEE;
  font-size: 14px;
  direction: ltr;
  color: #5E5E5E;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: auto; }

.container {
  /*min-width: 1300px;*/
  margin: auto; }

.content > .container {
  max-width: 1000px; }

img {
  max-width: 100%;
  max-height: 100%; }

/*------------------------------------*\
    #HEADER
\*------------------------------------*/
.header .navbar-collapse {
  padding-right: 0;
  padding-left: 0; }

.header-hr {
  margin-top: 0;
  margin-bottom: 0; }

.header .navbar {
  margin-bottom: 0;
  border-radius: 0;
  /*min-height: 100px;*/
  border: none; }

.header .navbar .logo-light {
  display: none; }

.header .navbar.affix .logo-light {
  display: block; }

.header .navbar.affix .logo-dark {
  display: none; }

.navbar-nav {
  margin-right: 0;
  float: none; }

.navbar-nav li a {
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  color: #543D40;
  padding: 0;
  vertical-align: middle;
  padding: 10px 0;
  /*letter-spacing: 1px;*/ }

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border: none; }

.navbar-nav > li.active > ul {
  margin-top: 0; }

.navbar-nav > li.active > a {
  color: #5E5E5E; }

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  text-shadow: 0px 0px 14px #543D40, 0px 0px 14px #543D40;
  box-shadow: none;
  background: none; }

.navbar-nav > li.active > a:hover {
  text-shadow: none;
  box-shadow: none;
  background: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  /*margin-right: 30px;*/
  padding: 0 15px; }
  .navbar-nav > li.becomepartner a {
    background: #543D40;
    color: #FFF !important;
    border: none;
    padding: 10px 15px; }
    .navbar-nav > li.becomepartner a:hover {
      background: #5E5E5E; }

/* Module */
.module {
  display: inline-block;
  position: relative; }

.module span.title {
  display: none; }

.module .module-icon {
  margin-right: 25px;
  padding-top: 45px;
  padding-bottom: 8px;
  cursor: pointer; }

.module .module-icon i {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-weight: 400; }

.module.module-side-nav .module-icon {
  margin-right: 0; }

.module.active i {
  color: #543D40; }

.module-search-box .search-box .search-form {
  margin-bottom: 0;
  width: 100%;
  display: flex;
  align-items: center; }

.module-search-box .search-box .search-form .btn {
  background-color: #543D40;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #ffffff; }

.module-search-box .search-box .search-form input {
  background-color: transparent;
  border: none;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 0;
  color: #aaaaaa;
  height: 36px;
  width: 100%;
  line-height: 36px;
  padding-right: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  text-align: right;
  padding-right: 60px; }

/* Top Bar */
.top-bar {
  line-height: 55px; }

.top-bar .top-bar-border {
  border-top: 1px solid #eaeaea; }

.top-bar .bottom-bar-border {
  border-bottom: 1px solid #eaeaea; }

.top-bar ul,
.top-bar p {
  margin-bottom: 0; }

.top-widget-social {
  margin-bottom: 0; }

.top-widget-social .top-social a {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: 400;
  margin-right: 25px;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.top-widget-social .top-social a:last-child {
  margin-right: 0; }

.top-widget-social a.facebook:hover {
  color: #3B5998; }

.top-widget-social a.twitter:hover {
  color: #00ACEE; }

.top-widget-social a.pinterest:hover {
  color: #C8232C; }

.top-widget-social a.vimeo:hover {
  color: #86C9EF; }

.top-widget-social a.linkedin:hover {
  color: #0E76A8; }

.top-widget-social a.rss:hover {
  color: #EE802F; }

.top-bar .top-contact li {
  color: #aaaaaa;
  line-height: 20px;
  border-right: 1px solid gainsboro;
  padding-right: 20px;
  padding-left: 15px; }

.top-bar .top-contact li:first-child {
  padding-left: 5px; }

.top-bar .top-contact li:last-child {
  border-right: none;
  padding-right: 0;
  padding-left: 12px; }

.top-bar .top-contact li p {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
  line-height: 20px; }

.top-bar .top-contact li a {
  font-size: 12px;
  font-weight: 400;
  color: #aaaaaa;
  line-height: 20px; }

.top-bar .top-contact li a:hover {
  color: #543D40; }

.top-bar .top-contact span {
  color: #aaaaaa; }

/* Menu Levels */
/* Hamburger Panel */
.hamburger-panel {
  position: fixed;
  height: 100%;
  height: 100%;
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #272930;
  overflow-x: hidden;
  webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.hamburger-panel-close i:before {
  content: "\f00d";
  color: #f3695f; }

.hamburger-panel .list-links {
  margin-bottom: 0;
  padding: 45px 30px; }

.hamburger-panel .list-links a {
  font-size: 14px;
  font-weight: 700;
  line-height: 44px;
  text-transform: uppercase;
  color: #777777;
  padding-bottom: 10px;
  margin-bottom: 25px;
  position: relative;
  line-height: 1;
  display: block; }

.hamburger-panel .list-links a:after {
  opacity: 0;
  content: "";
  height: 2px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 100%;
  display: inline-block;
  background-color: #543D40;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  -ms-transform: translateX(-10px); }

.hamburger-panel .list-links a.active:after {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0); }

.hamburger-panel .list-links a:hover {
  color: #543D40; }

.hamburger-panel .list-links a:hover::after {
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0); }

.hamburger-panel .social-share {
  padding: 0 30px; }

.hamburger-panel .social-share a {
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 1px;
  font-size: 15px;
  font-weight: 400;
  color: #aaaaaa;
  text-align: center;
  display: inline-block;
  background-color: #32333a;
  margin-right: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hamburger-panel .social-share a:hover {
  color: #ffffff !important; }

.hamburger-panel .social-share a.share-facebook:hover {
  background-color: #3B5998; }

.hamburger-panel .social-share a.share-twitter:hover {
  background-color: #00ACEE; }

.hamburger-panel .social-share a.share-pinterest:hover {
  background-color: #C8232C; }

.hamburger-panel .social-share a.share-google-plus:hover {
  background-color: #DD4B39; }

.hamburger-panel .social-share a.share-dribbble:hover {
  background-color: #EA4C89; }

.hamburger-panel .copywright {
  text-align: center;
  padding: 60px 30px 0 30px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #818181; }

.inpage-header {
  box-shadow: none; }
  .inpage-header .navbar-nav li a {
    color: #543D40; }
  .inpage-header .logo img {
    height: 60px; }
  .inpage-header .header-nav {
    margin: 20px 0; }

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header .container {
    padding-right: 0;
    padding-left: 0; }

  .navbar-nav {
    margin: 0;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.1);*/ }

  .navbar-toggle {
    border-color: #543D40;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

  .navbar-toggle .icon-bar {
    background-color: #543D40; }

  .container > .navbar-header {
    margin-left: 0;
    padding-right: 10px;
    padding-left: 10px; }

  .container > .navbar-collapse {
    width: 100%;
    background-color: #333333;
    margin-right: 0; }

  .navbar-nav > li {
    height: auto !important;
    margin-right: 0; }

  .navbar-nav > li.pull-left {
    float: none !important; }

  .navbar-nav > li > a {
    line-height: 36px;
    color: #ffffff;
    padding-right: 0;
    padding-left: 10px;
    padding-top: 0;
    letter-spacing: 1px; }

  .navbar-nav > li:after {
    display: none; }

  .navbar-nav > li.active {
    /*border-bottom: none*/ }

  .navbar-nav > li.has-dropdown > ul.dropdown-menu,
  ul.mega-menu {
    background-color: transparent;
    position: relative;
    padding-left: 0; }

  .navbar-nav > li.has-dropdown > a:after,
  li.dropdown-submenu > a:after {
    font-family: fontawesome;
    content: "\f105";
    font-size: 13px;
    position: absolute;
    right: 10px; }

  .navbar-nav > li.has-dropdown.open > a,
  .navbar-nav > li.has-dropdown.open > a:hover,
  .navbar-nav > li.has-dropdown.open > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  li.open a,
  li.open a:hover,
  li.open a:focus {
    color: #ffffff;
    line-height: 21px; }

  li.dropdown-submenu.open > ul > li > a {
    padding-left: 50px !important; }

  .navbar-nav > li.has-dropdown.open > a:after,
  .navbar-nav > li.has-dropdown.open > a:hover:after,
  .navbar-nav > li.has-dropdown.open > a:focus:after,
  li.dropdown-submenu.open > a:after,
  li.dropdown-submenu.open > a:hover:after,
  li.dropdown-submenu.open > a:focus:after {
    font-family: fontawesome;
    content: "\f107";
    font-size: 13px;
    position: absolute;
    right: 10px; }

  li.dropdown-submenu > a:after,
  li.dropdown-submenu.open > a:hover:after,
  li.dropdown-submenu.open > a:focus:after {
    right: 10px; }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .mega-menu li a:hover,
  .mega-menu li a:focus {
    background-color: transparent; }

  .dropdown-menu > li > a,
  .mega-menu > li > a {
    color: #543D40;
    font-size: 14px;
    text-align: right; }

  .mega-menu ul {
    list-style: none;
    padding-left: 25px; }

  .mega-menu ul li {
    padding-top: 5px; }

  ul.mega-menu {
    list-style: none;
    display: none; }

  .has-dropdown.open > .mega-menu,
  .dropdown-submenu.open > .mega-menu {
    display: block; }

  .dropdown-submenu.open > .mega-menu ul {
    padding-left: 50px; }

  .module {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  .module .module-icon {
    padding-top: 8px;
    padding-left: 10px; }

  .module.active i {
    color: #ffffff; }

  .module span.title {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; }

  .search-box,
  .module .cart-box {
    display: none;
    padding-right: 10px;
    padding-left: 10px; }

  .module .module-content {
    margin-bottom: 10px; }

  .cart-box .cart-overview h5 {
    color: #ffffff; }

  .module-cart.active .cart-box,
  .module-search-box.active .search-box {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
    background-color: #272930; }

  .module-search .search-icon,
  .module-cart .cart-icon {
    line-height: 36px !important; }

  .module-search .search-icon i {
    border-left: none;
    padding-left: 0;
    padding-right: 5px; }

  .module.toggle-module .search-box,
  .module.toggle-module .cart-box {
    display: block !important; }

  .module-search.toggle-module .search-box .search-form {
    margin-bottom: 10px; }

  .module-search.toggle-module .search-box .search-form input {
    background-color: #ffffff;
    margin-bottom: 0;
    height: 35px;
    line-height: 35px;
    padding-left: 10px; }

  .module-cart.toggle-module .cart-box {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-bottom: 10px; }

  .module-cart.toggle-module .cart-box .cart-control {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }

  .module-cart.toggle-module .cart-box .cart-control .pull-right {
    float: none !important; }

  .module-side-nav {
    display: none; }

  .header-5 .navbar-toggle {
    margin-right: 15px; }

  .header-5 .navbar-collapse {
    padding-left: 15px; }

  .header-5 .navbar-header {
    padding-top: 10px; } }
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .module-cart.toggle-module .cart-box .cart-control .btn {
    margin-bottom: 5px; } }
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header .container {
    padding-right: 0;
    padding-left: 0; }

  .navbar-header {
    float: none !important;
    margin-right: auto;
    margin-left: auto;
    text-align: center; }

  .header .navbar .logo {
    float: left; }

  .navbar-toggle {
    border-color: #543D40;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: block; }

  .navbar-toggle .icon-bar {
    background-color: #543D40; }

  .navbar-fixed-top .navbar-collapse {
    overflow: scroll !important; }

  .navbar-collapse.collapse {
    display: none !important; }

  .collapse.in {
    display: block !important; }

  .navbar-nav {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }

  .navbar-nav > li {
    float: none; }

  .container > .navbar-collapse {
    width: 100%;
    background-color: #333333;
    margin-right: 0; }

  .navbar-nav > li {
    height: auto !important;
    margin-right: 0; }

  .affix .navbar-nav > li {
    height: auto !important; }

  .navbar-nav > li.pull-left {
    float: none !important; }

  .navbar-nav > li > a {
    line-height: 36px !important;
    color: #ffffff !important;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    letter-spacing: 1px; }

  .dropdown-menu > li > a,
  .mega-menu a {
    padding-top: 0; }

  .navbar-nav > li:after {
    display: none; }

  .navbar-nav > li.active {
    border-bottom: none; }

  .navbar-nav > li.has-dropdown > a:after,
  .navbar-nav > li.has-dropdown > a:after,
  li.dropdown-submenu > a:after {
    font-family: fontawesome;
    content: "\f105";
    font-size: 13px;
    position: absolute;
    right: 0; }

  .navbar-nav > li.has-dropdown.open > a,
  .navbar-nav > li.has-dropdown.open > a:hover,
  .navbar-nav > li.has-dropdown.open > a:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

  li.dropdown-submenu.open > a,
  li a:hover,
  li.open > a:focus,
  .mega-menu > li > a {
    color: #ffffff; }

  li.dropdown-submenu.open > ul > li > a {
    padding-left: 50px !important; }

  .navbar-nav > li.has-dropdown.open > a:after,
  .navbar-nav > li.has-dropdown.open > a:hover:after,
  .navbar-nav > li.has-dropdown.open > a:focus:after,
  li.dropdown-submenu.open > a:after,
  li.dropdown-submenu.open > a:hover:after,
  li.dropdown-submenu.open > a:focus:after {
    font-family: fontawesome;
    content: "\f107";
    font-size: 13px;
    position: absolute;
    right: 0px; }

  li.dropdown-submenu > a:after,
  li.dropdown-submenu.open > a:hover:after,
  li.dropdown-submenu.open > a:focus:after {
    right: 10px; }

  .nav > li > a:hover,
  .nav > li > a:focus,
  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    background-color: transparent; }

  .dropdown-menu > li > a,
  .mega-menu a {
    color: #ffffff; }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus {
    color: #ffffff; }

  .mega-menu ul {
    list-style: none;
    padding-left: 0; }

  .mega-menu ul li {
    padding-top: 5px; }

  .mega-menu ul ul {
    padding-left: 0; }

  .dropdown-menu > li > a:hover,
  .dropdown-menu > li > a:focus,
  .mega-menu li a:hover,
  .mega-menu li a:focus {
    color: #ffffff; }

  ul.mega-menu {
    list-style: none;
    display: none; }

  .has-dropdown.open > .mega-menu,
  .dropdown-submenu.open > .mega-menu {
    display: block;
    padding-left: 25px; }

  .dropdown-submenu.open > .mega-menu ul {
    padding-left: 25px; }

  .module {
    display: block;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 5px 15px; }

  .module .module-icon {
    padding-top: 0; }

  .module span.title {
    display: inline-block;
    color: #ffffff;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase; }

  .search-box,
  .module .cart-box,
  .module-side-nav {
    display: none;
    padding-right: 10px;
    padding-left: 10px; }

  .module .module-content {
    margin-bottom: 10px; }

  .cart-box .cart-overview h5 {
    color: #ffffff; }

  .module-cart.active .cart-box,
  .module-search-box.active .search-box {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

  .module-search-box.active .search-box {
    background-color: #272930; }

  .module-search .search-icon,
  .module-cart .cart-icon {
    line-height: 36px !important; }

  .module-search .search-icon i {
    border-left: none;
    padding-left: 0;
    padding-right: 5px; }

  .module.toggle-module .search-box,
  .module.toggle-module .cart-box {
    display: block !important; }

  .module-search.toggle-module .search-box .search-form {
    margin-bottom: 10px; }

  .module-search.toggle-module .search-box .search-form input {
    background-color: #ffffff;
    margin-bottom: 0;
    height: 35px;
    line-height: 35px;
    padding-left: 10px; }

  .module-cart.toggle-module .cart-box {
    background-color: #ffffff;
    padding: 30px 20px;
    margin-bottom: 10px; }

  .module-cart.toggle-module .cart-box .cart-control {
    margin-right: auto;
    margin-left: auto;
    text-align: center; }

  .module-cart.toggle-module .cart-box .cart-control .pull-right {
    float: none !important; }

  .header-3 .top-social a i {
    width: 25px;
    height: 25px;
    line-height: 23px;
    font-size: 15px; }

  .header-3 .top-widget-social .top-social .btn {
    padding: 0 10px;
    font-size: 13px;
    line-height: 24px;
    margin-top: -3px; }

  .header-5 .navbar-header {
    padding-top: 10px; }

  .header-5 .navbar-nav li.has-dropdown > a {
    padding-top: 0; }

  .header-8 .top-bar .top-contact li {
    padding-right: 10px; } }
@media only screen and (min-width: 992px) {
  /* Menu with Dropdown */
  .navbar-nav > li.has-dropdown > ul.dropdown-menu,
  .navbar-nav > li.has-dropdown > ul.mega-menu,
  li.dropdown-submenu > ul.mega-menu {
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -o-transform: translateY(10%);
    -ms-transform: translateY(10%);
    opacity: 0;
    position: absolute;
    left: 0;
    right: auto;
    border: 1px solid #eaeaea;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    visibility: hidden;
    display: block; }

  .navbar-nav > li.has-dropdown > ul.dropdown-menu {
    width: 230px;
    padding: 0;
    border: 1px solid #eaeaea;
    /*border-top: 2px solid $brown;*/
    /*border-radius: 3px;*/
    margin-top: 5px; }

  .navbar-nav > li.has-dropdown > ul.mega-menu,
  li.dropdown-submenu > ul.mega-menu {
    width: 386px !important;
    padding: 0; }

  li.has-dropdown:hover > ul.dropdown-menu,
  li.has-dropdown:hover > ul.mega-menu,
  li.dropdown-submenu:hover > ul.mega-menu {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    opacity: 1;
    visibility: visible;
    z-index: 100;
    display: block; }

  ul.dropdown-menu > li,
  ul.mega-menu > li {
    padding-right: 0;
    height: 50px;
    line-height: 50px;
    position: relative;
    vertical-align: top; }

  ul.mega-menu > li {
    border-right: 1px solid #eaeaea; }

  ul.mega-menu > li:last-child {
    border-right: none; }

  ul.mega-menu > li {
    width: 190px !important;
    height: auto;
    overflow: hidden;
    display: inline-block; }

  ul.mega-menu > li > ul {
    width: 190px;
    list-style: none;
    background-color: #ffffff;
    padding-left: 0;
    position: relative !important;
    left: auto !important; }

  ul.mega-menu li ul li {
    height: 40px;
    line-height: 40px; }

  ul.dropdown-menu li a,
  ul.mega-menu li ul li a {
    line-height: 50px;
    color: #5E5E5E;
    padding: 0 0 0 18px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    color: #777777;
    font-size: 12px;
    font-weight: 600;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    text-transform: capitalize; }

  ul.mega-menu li ul li span {
    color: #543D40;
    padding: 0;
    display: block;
    font-size: 13px;
    line-height: 39px;
    text-transform: uppercase;
    font-weight: 700; }

  ul.dropdown-menu li:last-child > a {
    border-bottom: none; }

  ul.dropdown-menu li > a:hover,
  ul.dropdown-menu li > a:focus,
  ul.dropdown-menu li > a:active,
  ul.mega-menu li a:hover,
  ul.mega-menu li a:focus,
  ul.mega-menu li a:active {
    background-color: #f6f6f7;
    color: #543D40;
    padding: 0 0 0 26px; }

  ul.dropdown-menu.left {
    left: -207px !important;
    margin-left: 0 !important; }

  ul.mega-menu.left {
    left: -386px !important; }

  /* Menu Level #2 */
  li.has-dropdown > ul.dropdown-menu > li.dropdown-submenu > ul.dropdown-menu,
  li.dropdown-submenu > ul.mega-menu {
    background-color: #ffffff;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -o-transform: translateX(10%);
    -ms-transform: translateX(10%);
    opacity: 0;
    display: block;
    position: absolute;
    left: 100%;
    right: auto;
    top: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: -1px 0 0 0;
    z-index: 1;
    border: 1px solid #eaeaea; }

  li.has-dropdown > ul.dropdown-menu > li.dropdown-submenu:hover > ul.dropdown-menu {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    z-index: 3;
    margin-top: -1px; }

  li.dropdown-submenu.pull-left > ul.dropdown-menu {
    left: auto;
    right: 0;
    margin-right: 0; }

  /* Menu Level #3 */
  li.dropdown-submenu > ul.dropdown-menu > li.has-dropdown > ul.dropdown-menu {
    background-color: #ffffff;
    float: none;
    position: absolute;
    border-radius: 0;
    left: 100%;
    right: auto;
    top: 0;
    margin: -1px 0 0 0;
    z-index: 1;
    border: 1px solid #eaeaea;
    padding: 0; }

  li.dropdown-submenu > ul.dropdown-menu > li.has-dropdown > ul.dropdown-menu.left {
    left: -205px !important; }

  /* Mega Menu Content */
  .mega-dropdown {
    position: static !important; }

  .mega-dropdown-menu {
    padding: 20px 0px;
    width: 100% !important;
    background-color: transparent !important;
    border: none !important;
    margin-top: -23px;
    background-color: #ffffff; }

  .mega-dropdown-menu .container {
    background-color: #ffffff;
    border: 1px solid #eaeaea; }

  .mega-dropdown-menu .container .row {
    padding: 30px; }

  .mega-dropdown-menu .container div[class*='col-'] {
    padding-left: 0;
    padding-right: 0; }

  .mega-dropdown-menu li ul {
    padding: 0;
    margin: 0; }

  .mega-dropdown-menu li ul li {
    list-style: none; }

  .mega-dropdown-menu li ul li a {
    padding: 0;
    border-bottom: none;
    text-transform: capitalize; }

  .mega-dropdown-menu li ul li a:hover {
    padding: 0 0 0 8px; }

  .mega-dropdown-menu li ul li a i {
    margin-right: 8px; }

  .mega-dropdown-menu .container div[class*='col-'] > a {
    border-bottom: none;
    padding-left: 0;
    font-size: 14px; }

  .mega-dropdown-menu .container a[href='#'] {
    color: #543D40;
    cursor: default; }

  /* Module */
  .module-search-box .search-box {
    background-color: #272930;
    box-shadow: 0 2px 3px rgba(39, 41, 48, 0.05);
    position: absolute;
    display: block;
    height: 56px;
    line-height: 56px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: 0;
    left: 0;
    top: auto;
    z-index: 99;
    transform: translateY(10%);
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -o-transform: translateY(10%);
    -ms-transform: translateY(10%);
    padding-top: 10px;
    padding-bottom: 10px; }

  .module-search-box.active .search-box {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }

  .module-search-box .search-box .search-cancel i {
    float: right;
    width: 36px;
    height: 36px;
    border: 1px solid #f3695f;
    border-radius: 2px;
    color: #f3695f;
    font-size: 15px;
    font-weight: 400;
    line-height: 36px;
    text-align: center; }

  .module-cart .cart-box {
    position: absolute;
    display: block;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #eaeaea;
    right: -50px;
    width: 370px;
    border-radius: 2px;
    padding: 32px;
    z-index: 99;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    transform: translateY(10%); }

  .module-cart.active .cart-box {
    opacity: 1;
    visibility: visible;
    display: block;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }
/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav > li {
    margin-right: 16px; }

  .module-search .search-icon i {
    padding-left: 16px;
    padding-right: 16px; } }
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .header-fixed-left {
    width: 170px; }

  .side-header .wrapper {
    margin: 0 0 0 170px !important; }

  .header-fixed-left .header-panel-logo {
    padding: 30px 15px !important; }

  .header-fixed-left .header-panel-logo img {
    width: 100%; }

  .header-fixed-left .header-panel .list-links {
    padding: 45px 15px !important; }

  .header-fixed-left .header-panel .social-share {
    padding: 0 15px !important; }

  .header-fixed-left .header-panel .social-share a {
    margin-bottom: 10px; }

  .link-hover::before {
    display: none; }

  .mega-dropdown-menu ul {
    list-style: none;
    margin-left: -10px; }

  .mega-dropdown-menu ul li a {
    line-height: 28px;
    padding: 0; }

  .mega-dropdown-menu ul li a i {
    margin-right: 8px; }

  .mega-dropdown-menu .container a[href='#'] {
    color: #543D40;
    cursor: default;
    margin-left: 10px;
    padding: 0; } }
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #aaa !important; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #aaa !important; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #aaa !important; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #aaa !important; }

header {
  position: absolute;
  z-index: 99999;
  width: 100%;
  text-align: center;
  padding: 30px 0;
  transition: all 0.4s ease; }
  header.sticky {
    text-align: center;
    padding: 15px 0;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  header .logo img {
    height: 90px;
    position: relative;
    top: -10px; }
  header .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; }

.carousel {
  width: 100%; }
  .carousel figure {
    height: 512px;
    background-size: cover;
    position: relative; }
  .carousel .first_quote {
    -webkit-transform: matrix(-1, 0, 0, -1, 94, 62);
    -ms-transform: matrix(-1, 0, 0, -1, 94, 62);
    transform: matrix(-1, 0, 0, -1, 94, 62); }
  .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    z-index: 10;
    text-shadow: none; }
    .carousel-caption .slider_content {
      color: #0B0028;
      font-size: 33px;
      line-height: 60px;
      font-style: italic; }
      .carousel-caption .slider_content strong {
        font-size: 48px; }

.uppercase {
  text-transform: uppercase; }

/* -- form --- */
.pad-50 {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.mrgnTop-50 {
  margin-top: 50px; }

.pad-80 {
  padding: 80px 0; }

.content .content_para p {
  margin: 20px 0;
  color: #543D40;
  font-size: 24px;
  line-height: 29px; }
  .content .content_para p img {
    margin-top: 20px;
    display: inline;
    float: right; }

.brown-bg {
  background: #543D40;
  text-align: center;
  padding: 25px 0; }
  .brown-bg h3 {
    color: #FFF;
    font-size: 30px;
    line-height: 36px;
    max-width: 800px;
    margin: auto;
    font-weight: bolder; }

.dark-bg {
  background: #5E5E5E;
  text-align: center;
  padding: 25px 0; }
  .dark-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 800px;
    margin: auto;
    font-weight: bolder; }

.blue-bg {
  background: #5B7191;
  text-align: left;
  padding: 25px 0; }
  .blue-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }

.pinc-bg {
  background: #CDFF30;
  text-align: left;
  padding: 25px 0; }
  .pinc-bg h3 {
    color: #0B0028;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto; }

.darkgray-bg {
  background: #8E9496;
  text-align: left;
  padding: 25px 0; }
  .darkgray-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .darkgray-bg h3 span {
      font-size: 25px;
      line-height: 30px;
      font-weight: normal; }
    .darkgray-bg h3 img {
      max-width: 100%; }

.semiblue-bg {
  background: #53A0BA;
  text-align: left;
  padding: 25px 0; }
  .semiblue-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .semiblue-bg h3 span {
      font-size: 25px;
      line-height: 30px;
      font-weight: normal; }
    .semiblue-bg h3 img {
      max-width: 100%; }

.black-bg {
  background: #6B6B77;
  text-align: left;
  padding: 25px 0; }
  .black-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .black-bg h3 span {
      font-size: 25px;
      line-height: 30px;
      font-weight: normal; }
    .black-bg h3 img {
      max-width: 100%; }

.semigray-bg {
  background: #898481;
  text-align: left;
  padding: 25px 0; }
  .semigray-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .semigray-bg h3 span {
      font-size: 25px;
      line-height: 30px;
      font-weight: normal; }
    .semigray-bg h3 img {
      max-width: 100%; }

.red-bg {
  background: #A49294;
  text-align: left;
  padding: 25px 0; }
  .red-bg h3 {
    color: #FFF;
    font-size: 27px;
    line-height: 32px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .red-bg h3 span {
      font-size: 25px;
      line-height: 30px;
      font-weight: normal; }
    .red-bg h3 img {
      max-width: 100%; }

.services ul {
  text-align: center; }
  .services ul li {
    margin: 30px;
    min-width: 25%;
    display: inline-block; }
    .services ul li h4 {
      vertical-align: top; }
    .services ul li:first-child a span {
      background: url(../images/u299.png) no-repeat;
      width: 130px;
      height: 140px;
      display: block;
      margin: auto; }
    .services ul li:first-child a h4 {
      line-height: 28px;
      color: #8E9496;
      font-size: 23px;
      text-align: center;
      font-weight: normal;
      margin-top: 24px;
      min-height: 60px; }
    .services ul li:first-child a:hover span {
      background: url(../images/u299-r.png) no-repeat;
      width: 130px;
      height: 140px; }
    .services ul li:first-child a:hover h4 {
      text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
      box-shadow: none; }
    .services ul li:nth-child(2) a span {
      background: url(../images/u369.png) no-repeat;
      width: 130px;
      height: 140px;
      display: block;
      margin: auto; }
    .services ul li:nth-child(2) a h4 {
      line-height: 28px;
      color: #5B7191;
      font-size: 23px;
      text-align: center;
      font-weight: normal;
      margin-top: 24px;
      min-height: 60px; }
    .services ul li:nth-child(2) a:hover span {
      background: url(../images/u369-r.png) no-repeat;
      width: 130px;
      height: 140px; }
    .services ul li:nth-child(2) a:hover h4 {
      text-shadow: 6px 6px 8px rgba(96, 165, 255, 0.5);
      box-shadow: none; }
    .services ul li:nth-child(3) a span {
      background: url(../images/u359.png) no-repeat;
      width: 130px;
      height: 140px;
      display: block;
      margin: auto; }
    .services ul li:nth-child(3) a h4 {
      line-height: 28px;
      color: #6B6B77;
      font-size: 23px;
      text-align: center;
      font-weight: normal;
      margin-top: 24px;
      min-height: 60px; }
    .services ul li:nth-child(3) a:hover span {
      background: url(../images/u359-r.png) no-repeat;
      width: 130px;
      height: 140px; }
    .services ul li:nth-child(3) a:hover h4 {
      text-shadow: 6px 6px 8px rgba(107, 107, 119, 0.5);
      box-shadow: none; }
    .services ul li:nth-child(4) a span {
      background: url(../images/u379.png) no-repeat;
      width: 130px;
      height: 140px;
      display: block;
      margin: auto; }
    .services ul li:nth-child(4) a h4 {
      line-height: 28px;
      color: #898481;
      font-size: 23px;
      text-align: center;
      font-weight: normal;
      margin-top: 24px;
      min-height: 60px; }
    .services ul li:nth-child(4) a:hover span {
      background: url(../images/u379-r.png) no-repeat;
      width: 130px;
      height: 140px; }
    .services ul li:nth-child(4) a:hover h4 {
      text-shadow: 6px 6px 8px rgba(137, 131, 128, 0.5);
      box-shadow: none; }
    .services ul li:last-child a span {
      background: url(../images/u418.png) no-repeat;
      width: 130px;
      height: 140px;
      display: block;
      margin: auto; }
    .services ul li:last-child a h4 {
      line-height: 28px;
      color: #A49294;
      font-size: 23px;
      text-align: center;
      font-weight: normal;
      margin-top: 24px;
      min-height: 60px; }
    .services ul li:last-child a:hover span {
      background: url(../images/u418-r.png) no-repeat;
      width: 130px;
      height: 140px; }
    .services ul li:last-child a:hover h4 {
      text-shadow: 6px 6px 8px rgba(68, 59, 59, 0.5);
      box-shadow: none; }
.services p {
  line-height: 29px;
  color: #0B0028;
  font-size: 26px;
  font-style: italic; }
.services .service_block {
  text-align: center;
  padding: 20px; }
  .services .service_block img {
    display: block;
    margin: auto;
    height: 350px; }
  .services .service_block h2 {
    color: #0B0028;
    font-size: 24px;
    margin: 20px 0; }
.services .testimonial_block {
  background: #18FFA6;
  width: 300px;
  height: 250px;
  margin: 20px auto; }
  .services .testimonial_block h3 {
    color: #000;
    line-height: 250px;
    font-weight: bold; }

.testimonial_content h2 {
  line-height: 43px;
  color: #543D40;
  font-size: 36px;
  font-weight: bold;
  font-style: italic; }
.testimonial_content ul {
  margin-left: 30px; }
  .testimonial_content ul li {
    list-style-type: disc;
    font-size: 24px;
    margin: 10px 0;
    color: #543D40; }

.comic_title h1,
.comic_title h2,
.comic_title h3,
.comic_title h4,
.comic_title h5,
.comic_title h6 {
  color: #543D40; }
.comic_title h1 {
  font-size: 36px; }
.comic_title h2 {
  font-size: 30px;
  line-height: 36px; }

.true_list li {
  font-size: 24px;
  list-style-type: none;
  background: url(../images/u1188.png) no-repeat left;
  padding-left: 40px;
  color: #543D40;
  margin: 20px 50px; }

.benefits_darkgray {
  margin-bottom: 40px;
  clear: both; }
  .benefits_darkgray .benfit_number {
    background: #8E9496;
    height: 100%;
    text-align: center;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    font-size: 72px;
    font-weight: normal; }
  .benefits_darkgray h3 {
    color: #8E9496;
    font-size: 24px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .benefits_darkgray h3 span {
      font-size: 22px;
      line-height: 30px;
      font-weight: normal; }
      .benefits_darkgray h3 span a {
        text-decoration: underline; }
    .benefits_darkgray h3 ul li {
      list-style-type: disc;
      font-weight: normal;
      margin-left: 30px; }

.benefits_semiblue {
  margin-bottom: 40px;
  clear: both; }
  .benefits_semiblue .benfit_number {
    background: #53A0BA;
    height: 100%;
    text-align: center;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    font-size: 72px;
    font-weight: normal; }
  .benefits_semiblue h3 {
    color: #53A0BA;
    font-size: 24px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .benefits_semiblue h3 span {
      font-size: 22px;
      line-height: 30px;
      font-weight: normal; }
      .benefits_semiblue h3 span a {
        text-decoration: underline; }
    .benefits_semiblue h3 ul li {
      list-style-type: disc;
      font-weight: normal;
      margin-left: 30px; }

.benefits_black {
  margin-bottom: 40px;
  clear: both; }
  .benefits_black .benfit_number {
    background: #6B6B77;
    height: 100%;
    text-align: center;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    font-size: 72px;
    font-weight: normal; }
  .benefits_black h3 {
    color: #6B6B77;
    font-size: 24px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .benefits_black h3 span {
      font-size: 22px;
      line-height: 30px;
      font-weight: normal; }
      .benefits_black h3 span a {
        text-decoration: underline; }
    .benefits_black h3 ul li {
      list-style-type: disc;
      font-weight: normal;
      margin-left: 30px; }

.benefits_semigray {
  margin-bottom: 40px;
  clear: both; }
  .benefits_semigray .benfit_number {
    background: #898481;
    height: 100%;
    text-align: center;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    font-size: 72px;
    font-weight: normal;
    max-width: 110px; }
  .benefits_semigray h3 {
    color: #898481;
    font-size: 24px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .benefits_semigray h3 span {
      font-size: 22px;
      line-height: 30px;
      font-weight: normal; }
      .benefits_semigray h3 span a {
        text-decoration: underline; }
    .benefits_semigray h3 ul li {
      list-style-type: disc;
      font-weight: normal;
      margin-left: 30px; }

.benefits_red {
  margin-bottom: 40px;
  clear: both; }
  .benefits_red .benfit_number {
    background: #A49294;
    height: 100%;
    text-align: center;
    color: #FFF;
    height: 90px;
    line-height: 90px;
    font-size: 72px;
    font-weight: normal;
    max-width: 110px; }
  .benefits_red h3 {
    color: #A49294;
    font-size: 24px;
    line-height: 30px;
    max-width: 1000px;
    margin: auto;
    font-weight: bolder; }
    .benefits_red h3 span {
      font-size: 22px;
      line-height: 30px;
      font-weight: normal; }
      .benefits_red h3 span a {
        text-decoration: underline; }
    .benefits_red h3 ul li {
      list-style-type: disc;
      font-weight: normal;
      margin-left: 30px; }

.contact-us {
  margin: 50px auto 100px auto; }
  .contact-us #mail_contact {
    position: relative; }
  .contact-us input {
    font-size: 0.875em;
    height: 49.5px;
    width: 100%;
    padding: 0px 15px 0px 15px;
    background: transparent;
    outline: none;
    color: #543D40;
    border: solid 1px #5E5E5E;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contact-us input:hover {
    background: #636363;
    color: #EEEEEE; }
  .contact-us textarea {
    width: 100%;
    padding: 15px;
    background: transparent;
    outline: none;
    color: #543D40;
    font-size: 0.875em;
    border: solid 1px #5E5E5E;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out; }
  .contact-us textarea:hover {
    background: #5E5E5E;
    color: #EEEEEE; }
  .contact-us #submit {
    padding: 0;
    font-size: 0.875em;
    background: #5E5E5E;
    color: #FFF;
    outline: none;
    cursor: pointer;
    border: solid 1px #5E5E5E; }
  .contact-us #submit:hover {
    background: #543D40; }

.client-list {
  min-height: 1000px; }

.gallery-item {
  margin: 15px 0;
  width: 100%; }

.grid-item {
  float: left;
  width: 30%;
  padding: 1%; }

.flexbox {
  position: relative;
  width: 100%; }
  .flexbox:hover img {
    opacity: 0.5; }
  .flexbox .item {
    position: relative; }
    .flexbox .item img {
      width: 100%;
      display: block;
      transition: all .8s; }
    .flexbox .item:hover img {
      opacity: 1; }

.successmsg {
  display: none; }

.bx-wrapper img {
  max-width: 100%;
  display: block;
  height: 150px;
  margin: auto;
  display: block;
  padding: 10px 0; }

/* --- footer --- */
footer {
  padding: 40px 0 0 0;
  background: #5E5E5E; }

.text-italic {
  font-style: italic; }

text-uppercase {
  text-transform: uppercase; }

.footer-widget-title h5 {
  color: #EEEEEE;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  padding: 20px 0; }

.footer-widget {
  padding-bottom: 30px; }
  .footer-widget p {
    line-height: 26px;
    font-size: 18px;
    color: #EEEEEE; }
    .footer-widget p a {
      color: #EEEEEE; }

.footer-widget-link ul li {
  /*border-bottom: 1px solid #555;*/ }

.footer-widget-link ul li:last-child {
  border-bottom: none; }

.footer-widget-link ul li a {
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; }

.footer-widget-link .posts-feed li {
  margin-bottom: 10px; }
  .footer-widget-link .posts-feed li a {
    line-height: 24px; }

.footer-widget-link ul li a:hover {
  color: #543D40; }

.footer-widget .widget-contact .btn-primary:hover {
  background-color: #f3695f;
  color: #ffffff;
  border-color: #f3695f; }

#newsletter {
  margin: 15px 0; }
  #newsletter input[type=email] {
    background: #808080;
    color: #EEEEEE;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 5px; }
  #newsletter input[type=submit] {
    background: transparent;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    color: #EEEEEE;
    padding: 0 20px;
    border-radius: 0;
    border: 1px solid #acacac; }
    #newsletter input[type=submit]:hover {
      background: #543D40;
      border: 2px solid #543D40; }

.copyright {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid #888; }
  .copyright span {
    margin-right: 30px;
    color: #EEEEEE; }
  .copyright ul {
    display: inline-block; }
    .copyright ul li {
      display: inline-block; }
      .copyright ul li:last-child a:after {
        content: ""; }
      .copyright ul li a {
        color: #EEEEEE;
        display: block; }
        .copyright ul li a:hover {
          color: #543D40; }
        .copyright ul li a:after {
          content: "|";
          padding: 0 10px;
          color: #EEEEEE; }

.footer-copyright .copyright p a:hover {
  color: #46a1f0; }

ul.social {
  margin: 20px 5px; }

ul.social li {
  display: inline;
  padding: 0;
  margin: 0; }

ul.social li a {
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 28px;
  position: relative; }

ul.social li a i {
  color: #FFF;
  text-align: center;
  margin: 0;
  line-height: 50px;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s; }

/*.social li a.rss:hover {background-color: #F56505;}*/
.social li a.face:hover {
  background-color: #3B5998; }

.social li a.twit:hover {
  background-color: #33ccff; }

/*.social li a.google:hover {background-color:#BD3518;}*/
.social li a.linkedin:hover {
  background-color: #007bb7; }

/*--media Quries for 1440px-laptops-*/
/*--media Quries for 1440px-laptops-*/
/*--media Quries for 1366px-laptops-*/
/*--media Quries for 1366px-laptops-*/
/*--media Quries for 1280px-laptops-*/
/*--media Quries for 1280px-laptops-*/
/*--media Quries for 1024pxl-aptops-*/
/*--media Quries for 1024px-laptops-*/
/* SECREEN WIDTH undeer 992px */
@media screen and (max-width: 991px) {
  .row {
    padding: 0 15px; }

  .header .navbar-collapse {
    background: #FFF;
    padding: 30px 0; }

  .navbar-nav > li {
    display: block; }

  .navbar-nav > li > a {
    color: #5E5E5E; }

  .navbar-toggle {
    float: right;
    cursor: pointer; }

  .grid-item {
    float: none;
    width: 40%;
    padding: 10px 0; } }
/* SCREEN WIDTH <= 640px */
@media screen and (max-width: 768px) {
  header .logo img {
    height: 70px;
    position: relative;
    top: -10px; }

  .carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    z-index: 10;
    text-shadow: none; }
    .carousel-caption .slider_content {
      color: #0B0028;
      font-size: 22px;
      line-height: 28px;
      font-style: italic; }
      .carousel-caption .slider_content img {
        height: 30px; }
      .carousel-caption .slider_content strong {
        font-size: 24px; }

  .comic_title h1 {
    font-size: 32px; }

  .services .testimonial_block {
    width: 250px; }

  .testimonial_content h2 {
    font-size: 24px;
    line-height: 30px; }

  .benfit_number {
    font-size: 36px !important; }

  .grid-item {
    float: none;
    width: 100%;
    padding: 10px 0; } }
/*--media Quries for 768px-laptops-*/
/*--media Quries for 768px-laptops-*/
/*--media Quries for 640px-laptops-*/
/*--media Quries for 640px-laptops-*/
/*--media Quries for 480px-laptops-*/
/*--media Quries for 480px-laptops-*/
/*--media Quries for 320px-laptops-*/

/*# sourceMappingURL=style.css.map */
