/*@font-face {
    font-family: 'HelveticaNeueLTStd-Th';
    src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Th.otf')  format('opentype'),
        url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Th.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/HelveticaNeueLTStd-Roman.otf')  format('opentype'),
        url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'), url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato');
html {
    direction: ltr;
}

/* MAIN */

*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    /*vertical-align:baseline;*/
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: #000000;
    text-decoration: none;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

div {
    /*overflow: hidden;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'EB Garamond', serif;
}

ul,
ol {
    clear: both;
    padding: 0px;
}

li {
    list-style-type: none;
}

img {
    border: none;
    width: auto;
    height: auto;
}

header,
footer,
article,
news,
content,
details,
section,
group,
nav,
bar,
wrap_menu,
blockh,
blockv,
title,
block,
wrap,
clear {
    display: block;
}

.clear {
    clear: both;
}

::selection {
    color: #FFF;
    background: #08C299;
}

::-moz-selection {
    color: #FFF;
    background: #08C299;
}

body {
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden !important; */
    /*font-family: 'HelveticaNeueLTStd-Th';*/
    font-family: 'Lato', sans-serif;
    /* font-size: 72.5%; */
    font-size: 14px;
    background: #F6F6F6;
    /*background: url(../image/body-bg.jpg) repeat;*/
    /* height: 100%; */
    /* width: 100%; */
}

.container {
    max-width: 1100px;
    margin: 0 auto
}

#bg img {
    position: absolute;
    width: 100%;
    height: 400px;
}

/*---start-wrap----*/

.wrap {
    /*width:70%;*/
    margin: 0 auto;
}

/*---*/

.page {
    display: none;
}

/*----start-header---*/

.banner {
    position: relative;
}

.header {
    width: 100%;
    margin: 10px 0;
}

.logo {
    float: left;
    padding: 10px;
}

.logo a {
    color: #FFF;
    font-size: 24px;
}

.top-nav {
    margin-top: 20px;
    /* display:inline-block; */
}

.top-nav ul li {
    display: inline-block;
    vertical-align: middle;
}

.top-nav ul li a {
    color: #FFFFFF;
    font-size: 15px;
    padding: 0 15px;
    display: block;
    position: relative;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}

.top-nav ul li a:hover {
    opacity: .5;
}

.top-nav ul li.active a {
    opacity: .5;
}

.top-nav ul li.pull-right {}

.top-login {
    color: #FFF;
    font-size: 14px;
    padding: 5px 0;
    position: relative;
    z-index: 2;
}

.top-login a {
    color: #FFF;
}

.top-login a:hover {
    color: #08C299;
}

.search__select {
    width: 80%;
}

.search_box {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    padding: 25px;
    border-radius: 6px;
    position: relative;
    background: #fff;
    margin-top: 40px;
}

.search_box form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.search_box .text_field {
    flex: 2;
    line-height: 55px;
    height: 55px;
    padding: 0 25px;
    font-size: 16px;
    border-radius: 4px 0 0 4px;
    border-right: 0;
    background: #fff;
    border: 1px solid #dcdcdc;
    outline: none;
}

.search_box .select--field {
    /* border-radius: 0 4px 4px 0; */
    font-size: 16px;
    height: 55px;
    border: 1px solid #dcdcdc;
    /* border-left: 0; */
    color: #555;
    min-width: 180px;
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    padding: 0 15px;
    background: url(../img/arrow_r_active.png) #f4f4f4 no-repeat right 15px top 25px;
}

.search_box .search-btn {
    background: #08C299;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    min-width: 150px;
    font-size: 16px;
    border: 0;
    padding: 15px;
    margin-left: 10px;
}

.search_box .search-btn:hover {
    background: #08d2a6;
}

.top-nav .open>a,
.top-nav .open>a:hover,
.top-nav .open>a:focus {
    background-color: transparent;
    border: none
}

.top-nav>li.active>ul {
    margin-top: 0
}

.top-nav>li>a:hover,
.top-nav>li>a:focus {
    background-color: transparent;
    color: #777
}

.top-nav>li:after {
    position: absolute;
    left: auto;
    width: 20px;
    bottom: 2px;
    height: 2px;
    background: #777;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px)
}

.top-nav>li:hover::after {
    height: 2px;
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    margin-top: 0
}

.top-nav>li.active:after {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0)
}

li.has-dropdown>ul.dropdown-menu>li.dropdown-submenu>a:after,
ul.dropdown-menu>li.has-dropdown>a:after {
    font-family: fontawesome;
    content: "\f105";
    font-size: 13px;
    position: absolute;
    right: 9px
}

ul.dropdown-menu>li,
ul.mega-menu>li {
    padding-right: 0;
    /* height: 40px; */
    /* line-height: 40px; */
    position: relative;
    vertical-align: top;
    display: block;
}

ul.mega-menu>li {
    border-right: 1px solid #eaeaea
}

ul.mega-menu>li:last-child {
    border-right: none
}

ul.mega-menu>li {
    width: 190px !important;
    height: auto;
    overflow: hidden;
    display: inline-block
}

ul.mega-menu>li>ul {
    width: 190px;
    list-style: none;
    background-color: #ffffff;
    padding-left: 0;
    position: relative !important;
    left: auto !important
}

.top-nav li.has-dropdown>ul.dropdown-menu {
    right: 20px !important;
    left: auto;
    padding: 0;
    border-radius: 0;
}

ul.dropdown-menu li a,
ul.mega-menu li ul li a {
    height: 40px;
    line-height: 40px;
    color: #f6f6f7;
    padding: 0 0 0 18px;
    border-bottom: 1px solid #eaeaea;
    display: block;
    color: #777777;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: 600;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

ul.mega-menu li ul li span {
    color: #08C299;
    padding: 0;
    display: block;
    font-size: 13px;
    line-height: 39px;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700
}

ul.dropdown-menu li:last-child>a {
    border-bottom: none
}

ul.dropdown-menu li>a:hover,
ul.dropdown-menu li>a:focus,
ul.dropdown-menu li>a:active,
ul.mega-menu li a:hover,
ul.mega-menu li a:focus,
ul.mega-menu li a:active {
    background-color: #f6f6f7;
    color: #08C299;
    padding: 0 0 0 26px
}

ul.dropdown-menu.left {
    left: -207px !important;
    margin-left: 0 !important
}

ul.mega-menu.left {
    left: -386px !important
}

li.has-dropdown>ul.dropdown-menu>li.dropdown-submenu>ul.dropdown-menu,
li.dropdown-submenu>ul.mega-menu {
    background-color: #ffffff;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    transform: translateX(10%);
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -o-transform: translateX(10%);
    -ms-transform: translateX(10%);
    opacity: 0;
    display: block;
    position: absolute;
    left: 100%;
    right: auto;
    top: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    margin: -1px 0 0 0;
    z-index: 1;
    border: 1px solid #eaeaea
}

li.has-dropdown>ul.dropdown-menu>li.dropdown-submenu:hover>ul.dropdown-menu {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    z-index: 3;
    margin-top: -1px
}

li.dropdown-submenu.pull-left>ul.dropdown-menu {
    left: auto;
    right: 0;
    margin-right: 0
}

li.dropdown-submenu>ul.dropdown-menu>li.has-dropdown>ul.dropdown-menu {
    background-color: #ffffff;
    float: none;
    position: absolute;
    border-radius: 0;
    left: 100%;
    right: auto;
    top: 0;
    margin: -1px 0 0 0;
    z-index: 1;
    border: 1px solid #eaeaea;
    padding: 0
}

li.dropdown-submenu>ul.dropdown-menu>li.has-dropdown>ul.dropdown-menu.left {
    left: -205px !important
}

/*----start-header---*/

/*----start-works----*/

.products {
    margin: 50px 0;
}

.titles {
    margin: 20px 0 0 0;
}

.products .title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.products .subtitle {
    margin-bottom: 10px;
}

.product_grid {
    position: relative;
    background: #ffffff;
    text-align: left;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-perspective: 20em;
    perspective: 20em;
    margin-bottom: 80px;
}

.product_grid:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product_grid * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.product_grid img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    /* margin-bottom: 10px; */
}

.product_grid .features {
    position: absolute;
    padding: 15px;
    top: 0;
    width: 100%;
}

.product_grid .features li:first-child {
    float: left;
}

.product_grid .features li:last-child {
    float: right;
}

.product_grid .features li a {
    font-size: 12px;
    background: rgba(0, 0, 0, .3);
    color: #FAFAFA;
    padding: 3px 10px;
    border-radius: 20px;
}

.product_grid .features li a:hover {
    background: rgba(0, 0, 0, .6);
}

.product_grid .meal_price {
    font-size: 14px;
    background: #FFF;
    color: #383334;
    padding: 5px 10px;
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.product_grid .add-to-cart {
    position: absolute;
    bottom: -50px;
    right: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9em;
    opacity: 0;
    background-color: #08C299;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    text-align: center;
}

.product_grid .add-to-cart i {
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #164666;
    color: #ffffff;
    font-size: 1.4em;
}

.product_grid .add-to-cart:hover {
    background-color: #08d2a6;
}

.product_grid .add-to-cart a {
    color: #FFF;
    display: block;
}

.product_grid figcaption {
    padding: 20px;
    position: relative;
}

.product_grid label {
    color: #9B9B9B;
    font-weight: normal;
    font-size: 13px;
}

.product_grid h3,
.product_grid p {
    margin: 0;
}

.product_grid h3 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 10px 0;
    margin-right: 30px;
    text-transform: uppercase;
}

.product_grid p {
    font-size: 13px;
    color: #383334;
    margin: 15px 0;
}

.product_grid:hover .add-to-cart,
.product_grid.hover .add-to-cart {
    opacity: 1;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.product_grid:hover .add-to-cart i,
.product_grid.hover .add-to-cart i {
    background-color: #2980b9;
}

.product-dropdown button {
    border-radius: 20px;
    padding: 5px 20px;
    color: #FFF;
    color: #383334;
    border: 1px solid #383334;
    margin: 5px auto;
    text-align: center;
    font-size: 13px;
}

.product-dropdown {
    display: inline-block;
}

.product-dropdown .dropdown-item {
    display: block;
    padding: 0 10px;
}

.stars {
    color: #FFD429;
    font-size: 13px;
    position: absolute;
    right: 15px;
    top: 35px;
}

.stars img {
    width: 18px;
}

.bigmeal {
    margin-top: 70px;
}

.bigmeal_content figcaption {
    margin-top: 15px;
}

.bigmeal_content figcaption label {
    margin: 10px 0;
    display: block;
}

.bigmeal_content figcaption h2 {
    margin: 10px 0;
    display: inline-block;
}

.bigmeal_content h4 {
    margin-bottom: 5px;
}

.bigmeal_content h5 {
    margin: 10px 0;
    display: inline-block;
}

.bigmeal_content figcaption p {
    color: #383334;
    margin: 15px 0;
    font-size: 13px;
}

.bigmeal_content figcaption a {
    border-radius: 20px;
    padding: 5px 20px;
    color: #08C299;
    border: 1px solid #08C299;
    margin: 5px auto;
    text-align: center;
    font-size: 13px;
    float: right;
}

.bigmeal_content figcaption a:hover {
    color: #FFF;
    background: #08C299;
}

.bigmeal_content figcaption .stars {
    color: #FFD429;
    font-size: 13px;
    position: relative;
    display: inline-block;
    margin-top: 12px;
    margin-left: 25px;
    float: right;
    top: auto;
}

.etabs {
    margin: 20px 0;
    /* text-align: center; */
}

.etabs li {
    display: inline-block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    vertical-align: middle;
}

.etabs li a {
    display: block;
    text-align: center;
    margin-right: 5px;
    padding: 5px 20px;
    color: #3D3D3D;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 20px;
    text-decoration: none;
}

.etabs li a:hover {
    border: 1px solid #3D3D3D;
}

.etabs li.active a {
    border: 1px solid #3D3D3D;
}

.btn-signin {
    display: block;
    text-align: center;
    margin-right: 5px;
    padding: 0 20px !important;
    color: #fff;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-radius: 20px;
    text-decoration: none;
    height: 50px !important;
    line-height: 50px !important;
}

.btn-signin:hover {
    background: #FFF;
    color: #3D3D3D;
}

.bot_20 {
    margin-bottom: 20px;
}

.weekly_plans {
    max-height: 70vh !important;
}

.parallax {
    background: url(../img/banner.png) top no-repeat fixed;
    background-size: cover;
    position: relative;
}

.para_shadow {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.pre_shadow {
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
}

.parallax .container,
.parallax .row {
    position: relative;
    z-index: 3;
    height: 520px;
    width: 100%;
    display: table;
}

.parallex-content {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    min-height: 100%;
    height: 100%;
    z-index: 2;
    text-shadow: none;
    text-align: center;
}

.parallex-content h2 {
    color: #FFF;
    font-size: 34px;
    font-weight: bolder;
    margin: 0 0 20px 0;
}

.parallex-content p {
    color: #D5D5D5;
    font-size: 13px;
    line-height: 32px;
    margin-bottom: 10px;
}

.parallex-content a {
    outline: none;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 0;
    color: #383334;
    background-color: #FFF;
    border: none;
    box-shadow: 0 2px 15px 0 rgba(42, 51, 143, 0.25);
}

.parallex-content a:hover {
    background-color: #08c299;
}

ul.product_list {
    display: block;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%
}

.product_grid a {
    text-decoration: none
}

.product_item {
    display: block;
    position: relative;
    margin: 15px 0;
    min-width: 20%;
}

.product-container {
    /* background: #fff; */
    /* border-radius: 5px; */
    position: relative;
    transition: all .3s ease-in-out;
    bottom: 0;
    transition: all .3 ease-out;
    -webkit-transition: all .3 ease-out;
    -moz-transition: all .3 ease-out;
    -ms-transition: all .3 ease-out;
    -o-transition: all .3 ease-out
}

.product-container.no-border {
    border: none
}

.product-container:hover .controls {
    bottom: 0 !important
}

.product-container .dropdown {
    position: relative;
    display: inline;
    z-index: 3
}

.product-container .dropdown .dropdown-menu {
    padding: 0
}

.product_image {
    position: relative;
    overflow: hidden;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    /* opacity: .8; */
}

.product_image a {
    display: block;
    overflow: hidden;
    margin: auto;
    position: relative;
    z-index: 2
}

.product_image img {
    display: block;
    /* border: 2px solid transparent; */
    /* border-radius: 2px; */
    margin: auto;
    width: 100%;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out
}

.joined .product_image img {
    border: 2px solid #70d549
}

.product_buttons {
    position: absolute;
    left: -100%;
    top: 5px;
    width: 100%;
    text-align: left;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    transition: all .35s ease;
    transition: all .3s ease-in-out
}

.product-container:hover .product_buttons {
    left: -70%
}

.product_buttons button {
    color: #90a4ae;
    border: none;
    background: none;
    border: 1px solid #cfd8dc;
    font-size: 18px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px
}

.product_buttons .product_heart:hover {
    color: #DF0404;
    background: rgba(58, 181, 74, 0.5)
}

.product_buttons .product_compare:hover {
    color: #771216;
    background: rgba(58, 181, 74, 0.5)
}

.product_buttons .add_to_cart:hover {
    color: #0080b0;
    background: rgba(58, 181, 74, 0.5)
}

.quick_view h6 {
    background: rgba(0, 0, 0, 0.5);
    margin: 6px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 8px 0;
    font-size: 1em;
    font-weight: normal
}

.quick_view h6:before {
    content: "\f00e";
    font-family: FontAwesome;
    padding: 0 5px
}

.product_values {
    margin: 20px 0;
    direction: ltr;
    text-align: left
}

.product_title a {
    color: #757a7e;
    margin-bottom: 10px;
    font-weight: bold
}

.product_title a:hover {
    color: #00474d
}

.product_title {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: center;
    color: #FFF;
    background: rgba(255, 255, 255, 0.2);
    padding-top: 40px;
}

.product_title h4,
.product_title h5 {
    margin: 10px 0;
    line-height: 1;
    color: #383334;
    font-size: 18px;
}

.product_title h4 label,
.product_title h5 label {
    float: right;
    font-size: 13px;
    opacity: .7
}

.product_title h5 {
    font-size: 18px
}

.product_title h6 {
    font-size: 13px;
    color: #999;
    margin: 10px 0
}

.product_title p {
    opacity: .7;
    margin: 7px 0
}

.morebtn {
    line-height: 45px
}

@media only screen and (min-width: 320px) {
    ul.product_list {
        margin: 0
    }
    .product_sale {
        position: absolute;
        z-index: 99;
        right: -28px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .product_sale p {
        margin: 0;
        color: #fff;
        background: #ff0000;
        padding: 3px 25px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4)
    }
    .product_image .product_buttons {
        display: none
    }
    .product_price span {
        font-size: 1.1em;
        line-height: 1
    }
    .product_desc {
        overflow: hidden;
        float: left;
        line-height: 1
    }
    .product_desc p {
        margin: 0
    }
    .product_values .product_buttons {
        position: relative;
        text-align: left;
        float: left;
        margin-top: 7px
    }
    .product_values .product_buttons button {
        color: #252525;
        background: #fff;
        font-size: 1em;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid #000
    }
}

@media only screen and (min-width: 480px) {
    .product_image .product_buttons {
        display: block
    }
    .product_price {
        float: left;
        text-align: center;
        width: 100%
    }
    .product_rating {
        width: 100%;
        background-position: center 76%;
        margin-bottom: 5px
    }
    .product_desc {
        text-align: center
    }
    .product_values .product_buttons {
        display: none
    }
}

.product_title h6 label {
    font-size: 16px;
    color: #455a64
}

.material-checkbox-group__label {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 25px;
    margin: auto;
    height: 25px;
    line-height: 25px;
    /* padding-left: 30px */
    bottom: 10px;
    right: 0;
    left: 0;
}

.material-checkbox-group__label:after {
    content: "";
    display: block;
    width: 5px;
    height: 15px;
    opacity: .9;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    position: absolute;
    left: 5px;
    top: 15px;
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -webkit-transform-origin: left top;
    transform-origin: left top
}

.material-checkbox-group__label:before {
    content: "";
    display: block;
    border: 2px solid;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0
}

.material-checkbox-group__label {
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.material-checkbox:disabled~.material-checkbox-group__label {
    cursor: no-drop
}

.material-checkbox {
    display: none
}

.material-checkbox-group .material-checkbox:checked+.material-checkbox-group__label:after {
    -webkit-animation: check 0.8s;
    animation: check 0.8s;
    opacity: 1
}

.material-checkbox-group .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #000
}

.material-checkbox-group .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #757a7e
}

.material-checkbox-group .material-checkbox-group__label:before {
    border-color: #757a7e
}

.material-checkbox:disabled~.material-checkbox-group__label {
    color: #757a7e
}

.material-checkbox-group_primary .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #fff
}

.material-checkbox-group_primary .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #4092d9
}

.material-checkbox-group_primary .material-checkbox-group__label:before {
    border-color: #4092d9
}

.material-checkbox-group_success .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #fff
}

.material-checkbox-group_success .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #68c368
}

.material-checkbox-group_success .material-checkbox-group__label:before {
    border-color: #68c368
}

.material-checkbox-group_info .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #fff
}

.material-checkbox-group_info .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #8bdaf2
}

.material-checkbox-group_info .material-checkbox-group__label:before {
    border-color: #8bdaf2
}

.material-checkbox-group_warning .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #fff
}

.material-checkbox-group_warning .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #f2a12e
}

.material-checkbox-group_warning .material-checkbox-group__label:before {
    border-color: #f2a12e
}

.material-checkbox-group_danger .material-checkbox:checked+.material-checkbox-group__label:after {
    border-color: #fff
}

.material-checkbox-group_danger .material-checkbox:checked+.material-checkbox-group__label:before {
    background-color: #f3413c
}

.material-checkbox-group_danger .material-checkbox-group__label:before {
    border-color: #f3413c
}

@-webkit-keyframes check {
    0% {
        height: 0;
        width: 0
    }
    25% {
        height: 0;
        width: 5px
    }
    50% {
        height: 15px;
        width: 5px
    }
}

@keyframes check {
    0% {
        height: 0;
        width: 0
    }
    25% {
        height: 0;
        width: 5px
    }
    50% {
        height: 15px;
        width: 5px
    }
}

.prefrences {
    margin-top: -100px;
}

.choose_title {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 10px;
}

.box_shadow {
    padding: 0 3px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    background: #fff;
    height: 400px;
}

.order_card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    position: relative;
    display: block;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    overflow: hidden;
}

.order_card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.order_card.selected {
    background: #383334 !important;
}

.order_card.selected * {
    color: #FFF !important;
}

.price {
    float: right;
    /* margin-top: 20px; */
    font-size: 16px;
}

.price s {
    margin-right: 10px;
    opacity: .6;
}

.price li {
    font-size: 20px;
    color: #383334;
    margin-top: 10px;
}

.price li.red {
    font-size: 13px;
    color: #F51313;
}

.order_card h6 {
    position: absolute;
    top: 0;
    right: 0;
    background: #383334;
    padding: 5px 10px;
    color: #FFF;
}

.add_address {
    margin: 40px 0;
}

.meal_title {
    margin-bottom: 20px;
}

.meal_title label {
    opacity: .5;
    display: block;
}

.meal_title h2 {
    margin: 10px 0;
    display: inline-block;
}

.meal_title span {
    opacity: .5;
    margin-left: 10px;
}

.add_small {
    display: inline-block;
    color: #08C299;
    font-size: 22px;
    float: right;
}

.address_block h3 {
    display: inline-block;
}

.sorting {
    display: inline;
    float: right;
}

.sorting ul {
    display: flex;
    flex-wrap: wrap;
}

.sorting ul li {
    margin: 5px 4px;
}

.sorting ul li a {
    font-size: 13px;
    border-radius: 100px;
    font-weight: 500;
    line-height: 28px;
    transition: 0.3s;
    padding: 0 21px;
    background: #000000;
    color: #fff;
    display: inline-block;
}

.sorting ul li a:hover {
    color: #fff;
    background: #08C299;
}

.paragraph p {
    padding: 20px 0;
    opacity: .7;
    line-height: 24px;
}

.meals>label {
    opacity: .6;
    margin-top: 15px;
}

.subscribe_btn {
    background: #08C299;
    color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
    padding: 15px;
    margin: 20px 0;
    width: 100%;
}

.subscribe_btn:hover {
    background: #08d2a6;
}

#accordionMenu {
    margin: 40px 0;
}

#accordionMenu .stars {
    position: relative;
    display: inline;
    float: right;
    top: auto;
    font-size: 14px;
}

#accordionMenu .stars img {
    vertical-align: bottom;
}

.panel-group .panel {
    margin-bottom: 15px;
    background: #FFF;
    border: 1px solid #eee;
    /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); */
}

.panel-default>.panel-heading {
    background: #FFF;
    border-bottom: none;
}

.panel-default>.panel-heading a {
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.panel-default .panel-body {
    background: #FFF;
    padding: 30px !important
}

.paymet_methods {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 20px 0;
}

.paymet_methods li {
    display: table-cell;
}

.paymet_methods.address_book li {
    width: 100%;
    display: block;
}

.paymet_methods li a {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    padding: 30px;
    margin-top: 20px;
    position: relative;
    display: block;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    overflow: hidden;
}

.paymet_methods li a:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.paymet_methods li a:focus {
    background: #383334 !important;
    color: #FFF !important;
}

.paymet_methods li a:focus * {
    color: #FFF !important;
}

.paymet_methods li a i {
    font-size: 45px;
}

.paymet_methods li a label {
    font-size: 18px;
    display: block;
}

.paymet_methods li a span {
    font-size: 13px;
    opacity: .7;
}

.zoomWrapper,
.zoomContainer {
    position: relative;
    height: 350px !important;
    overflow: hidden;
}

.zoomWrapper img,
.zoomContainer img {
    width: 100% !important;
    /* height: 100% !important; */
    /* border: 2px solid #000; */
}

#gallery_01 a img {
    width: 100%;
}

#gallery_01 a img {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-right: 3px;
    /* border: 2px solid #000; */
    /* box-shadow: 0 2px 2px #444; */
}

#zoom_03 {
    /* width: 100%; */
    /* height: 300px; */
}

.about_chef {}

.about_chef .product_grid {
    margin: 15px 0;
}

.about_chef .bigmeal_content {
    margin: 10px 0;
}

.mrgn-20 {
    margin: 20px 0;
}

/*----//End-works----*/

/*----start-footer----*/

.footer {
    background: #3D3D3D;
}

.footer-top {
    text-align: center;
    border-bottom: 1px solid rgba(147, 147, 147, 0.13);
}

.footer-top ul li {
    display: inline-block;
}

.footer-top ul li a {
    color: #939393;
    padding: 1em;
    display: block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.footer-top ul li a:hover {
    color: #E66768;
}

.footer-bottom {
    background: #1b1b1b;
    overflow: hidden;
    padding: 10px 0;
}

.footer-bottom p {
    color: #FFF;
    /*text-align:center;*/
    padding: 1em 0;
    font-family: tahoma;
}

.footer-bottom p a {
    color: #939393;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}

.footer-bottom p a:hover {
    color: #E66768;
}

/*** move top **/

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 35px;
    right: 30px;
    overflow: hidden;
    width: 35px;
    height: 36px;
    border: none;
    text-indent: 100%;
    background: url(../img/to-top.png) no-repeat 0px 0px;
    z-index: 999;
}

#toTopHover {
    width: 35px;
    height: 35px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

#toTop:active,
#toTop:focus {
    outline: none;
}

/*** move top **/

/*---//End-wrap----*/

/*----responsive-design-----*/

/*--media Quries for 1440px-laptops-*/

@media only screen and (max-width: 1440px) and (min-width: 1366px) {}

/*--//media Quries for 1440px-laptops-*/

/*--media Quries for 1366px-laptops-*/

@media only screen and (max-width: 1366px) and (min-width: 1280px) {}

/*--//media Quries for 1366px-laptops-*/

/*--media Quries for 1280px-laptops-*/

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
    .top-nav {
        float: none;
    }
    .top-nav ul {
        text-align: center;
    }
    .top-nav ul li {
        display: inline-block;
    }
}

/*--//media Quries for 1280px-laptops-*/

/*--media Quries for 1024px-laptops-*/

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    /*-----*/
    #page {
        display: block;
    }
    .navicon {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 11px;
        background: url(../img/nav-icon.png) no-repeat;
    }
    .top-nav {
        display: none;
    }
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
}

/*--//media Quries for 1024px-laptops-*/

/*--media Quries for 768px-laptops-*/

@media only screen and (max-width: 768px) and (min-width: 640px) {
    /*-----*/
    #page {
        display: block;
    }
    .navicon {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 11px;
        background: url(../img/nav-icon.png) no-repeat;
    }
    .top-nav {
        display: none;
    }
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
}

/*--//media Quries for 768px-laptops-*/

/*--media Quries for 640px-laptops-*/

@media only screen and (max-width: 640px) and (min-width: 480px) {
    /*-----*/
    #page {
        display: block;
    }
    .navicon {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 11px;
        background: url(../img/nav-icon.png) no-repeat;
    }
    .top-nav {
        display: none;
    }
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
}

/*--//media Quries for 640px-laptops-*/

/*--media Quries for 480px-laptops-*/

@media only screen and (max-width: 480px) and (min-width: 320px) {
    /*-----*/
    #page {
        display: block;
    }
    .navicon {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 11px;
        background: url(../img/nav-icon.png) no-repeat;
    }
    .top-nav {
        display: none;
    }
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
}

/*--//media Quries for 480px-laptops-*/

/*--media Quries for 320px-laptops-*/

@media only screen and (max-width: 320px) and (min-width: 240px) {
    #page {
        display: block;
    }
    .navicon {
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 20px;
        right: 11px;
        background: url(../img/nav-icon.png) no-repeat;
    }
    .top-nav {
        display: none;
    }
    .logo {
        float: none;
        margin-top: 0em;
        text-align: center;
        padding: 0.75em 0 0.3em;
    }
}

/*--//media Quries for 320px-laptops-*/

.ease-all {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

/* Social Icons */

.social {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    text-align: center;
}

.social li a {
    display: inline-block;
    float: right;
    width: 32px;
    height: 32px;
    margin-right: 1rem;
    text-align: center;
    line-height: 32px;
    /*-webkit-border-radius:2px;
    -moz-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    border-radius:2px;*/
    /*background-color: #222;*/
    -webkit-box-shadow: inset 0 0 0 40px #3d3d3d;
    -moz-box-shadow: inset 0 0 0 40px #3d3d3d;
    -o-box-shadow: inset 0 0 0 40px #3d3d3d;
    -ms-box-shadow: inset 0 0 0 40px #3d3d3d;
    box-shadow: inset 0 0 0 40px #3d3d3d;
    background: #3d3d3d;
    color: #fff;
}

.social li a:hover {
    -webkit-box-shadow: inset 0 0 0 3px #222;
    -moz-box-shadow: inset 0 0 0 3px #222;
    -o-box-shadow: inset 0 0 0 3px #222;
    -ms-box-shadow: inset 0 0 0 3px #222;
    box-shadow: inset 0 0 0 3px #222;
    color: #222;
    background: #FFF;
}

header {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
}

header.chef {
    background: url(../img/header.png) no-repeat center;
    background-size: cover;
    height: 120px;
    position: relative;
}

header.chef .container {
    position: relative;
    z-index: 99;
}

.chef-img img {
    /* min-width: 400px; */
    /* min-height: 400px; */
}

#slider {
    min-height: 450px;
    max-height: 100vh;
    overflow: hidden;
}

#slider.chef {
    height: 120px;
    min-height: 120px;
}

.slider-carousel {}

.carousel-indicators li {
    background: #C4C4BE;
}

.carousel-indicators li.active {
    background: #434343;
}

.control-carousel {
    position: absolute;
    top: 40%;
    font-size: 60px;
    color: #C2C2C1;
    display: none !important;
}

.control-carousel:hover {
    color: #FE980F;
}

.carousel-caption {
    top: 180px;
    text-align: center;
    text-shadow: none;
}

.carousel-caption h2 {
    font-size: 34px;
    color: #FAFAFA;
}

.carousel-caption h3 {
    font-size: 55px;
    line-height: 1.3;
    text-align: center;
    color: #FAFAFA;
}

.carousel-caption p {
    font-size: 14px;
    color: #D5D5D5;
    text-align: center;
    margin-bottom: 10px;
}

.login-popup {
    z-index: 9999999;
}

/* --- login --- */

#login {
    margin: 0 auto;
}

#login form fieldset input[type="text"],
#login form fieldset input[type="password"] {
    /*background: #e5e5e5;*/
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    outline: none;
    padding: 0px 10px;
    width: 100%;
    -webkit-appearance: none;
    margin: 0 0 5px 0;
    background: #FFF;
    border: 1px solid #1d1d1d;
    border-radius: 10px;
}

/*
#login form fieldset input[type="submit"] {
    background-color: #008dde;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    text-transform: uppercase;
    width: 300px;
    -webkit-appearance:none;
}
*/

#login form fieldset input[type="submit"] {
    width: 100%;
}

#login form fieldset a {
    color: #5a5656;
    font-size: 13px;
    margin: 9px 0 0 0;
    display: inline-block;
    text-align: right;
    float: right;
    width: 130px;
}

#login form fieldset a:hover {
    text-decoration: underline;
}

.btn-round {
    background: #5a5656;
    border-radius: 50%;
    color: #f4f4f4;
    display: block;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
    display: block;
    margin: 10px auto;
}

.login-btn {
    background-color: #5a5656;
    color: #f4f4f4;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    margin: 5px auto;
    /* text-transform: uppercase; */
    /* width: 100%; */
    padding: 0 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: color 0.3s, background-color, 0.4s;
    -o-transition: color 0.3s, background-color, 0.4s;
    -webkit-transition: color 0.3s, background-color, 0.4s;
    transition: color 0.3s, background-color, 0.4s;
}

.login-btn .btn-icon {
    display: block;
    float: left;
    width: 28px;
    height: 28px;
    margin: 10px;
    margin-left: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: inset 0 1px 3px #333;
    -webkit-box-shadow: inset 0 1px 3px #333;
    box-shadow: inset 0 1px 3px #333;
}

#login .login-btn {
    width: 100%;
}

.social_links {
    margin: 15px 0;
}

.facebook {
    background-color: #3b5998;
    color: #FFF;
    display: inline-block;
}

.facebook .btn-icon {
    background-color: #3b5998;
}

.facebook:hover {
    background-color: #334C80;
    color: #FFF;
}

.fb-icon {
    background-color: #3b5998;
    background: url("../img/face.png") no-repeat;
}

.twitter {
    background-color: #00aced;
    color: #FFF;
    display: inline-block;
}

.twitter .btn-icon {
    background-color: #00aced;
}

.twitter:hover {
    background-color: #00aced;
    color: #FFF;
}

.twitter-icon {
    background-color: #00aced;
    background: url("../img/twitter.png") no-repeat;
}

.login-popup .modal-dialog {
    width: 400px;
}

.modal-dialog {
    margin: 100px auto;
}

#login .wrapper {
    margin: 5px 0 !important;
}

#login .wrapper ul {
    display: inline-block;
}

.wrapper-reg .check-box {
    position: relative;
    top: 5px;
}

#myModal {
    z-index: 999999999;
}

.modal-backdrop {
    z-index: 0;
}

.modal-content {
    border-radius: 0;
    box-shadow: none;
}

.modal-content h3 {
    background: #383334;
    padding: 10px 0;
    color: #FFF;
    font-size: 20px;
}

.modal-content input[type=text],
.modal-content .remember,
.modal-content button {
    margin: 10px 0;
}

.wrapper {
    width: 100%;
    margin: 20px auto;
    font-size: 14px;
}

.wrapper-input {
    border: 1px solid #CCC;
    background: #FFF;
    width: 80px;
    height: 25px;
    display: inline-block;
    margin: 0 0 0 20px;
}

.wrapper ul {}

.wrapper ul li {
    display: block;
    clear: both;
    margin: 10px 0;
}

.wrapper ul li p {
    margin: 15px 0 5px 0;
}

.wrapper ul li span {
    display: inline-block;
    vertical-align: top;
    max-width: 95px;
}

.wrapper ul li .radio-btn input[type="radio"],
.check-box input[type="checkbox"] {
    visibility: hidden;
}

.close {
    color: #FFF;
    opacity: 1;
    font-weight: normal;
    margin: 10px !important;
}

.order_card .close {
    color: #F51313;
    opacity: 1;
    font-weight: normal;
    margin: 10px !important;
    font-size: 13px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.quantity {
    width: 100px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

.go-enter {
    background: #383334;
    border: none;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 14px;
    padding: 10px 20px;
    color: #FFF;
    text-align: center;
}

.go-enter:hover {
    background: #08C299;
}

.form-control {
    position: relative;
    background: #ffffff;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    border: none;
    height: 45px;
}

.form-control:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.subtotal {
    margin: 25px 0;
}

.subtotal h3 {
    color: #9B9B9B;
}

.subtotal h3 label {
    float: right;
    color: #000;
}

.order_progress {
    margin: 30px 0;
}

.order_progress h3 {
    margin: 10px 0;
}

.order_progress p {
    color: #9B9B9B;
    line-height: 24px;
}

#skill12 {
    margin: 20px auto;
    width: 200px;
    height: 200px;
    position: relative;
}

.profile-userpic {
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
    position: relative;
    max-width: 220px;
}

.profile-userpic img {
    float: none;
    margin: 0 auto
}

.upload-profile {
    color: #FFF;
    background: #383334;
    border-radius: 50%;
    /* padding: 10px; */
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 15px;
    right: 20px
}

.upload-profile:hover {
    background: #08C299;
    color: #FFF;
}

#pp_uploader {
    display: none
}

.plans_info form p {
    position: relative;
    overflow: hidden;
}

.plans_info .control-label {
    display: inline-block;
    font-size: 13px;
    opacity: .7;
    margin: 10px 0;
}

.plans_info .form-control {
    display: inline-block;
    width: auto;
    float: right;
    vertical-align: middle;
}

.c_play {
    margin: 50px 0;
}

.c_play img {
    width: 50px;
    margin-right: 10px;
}

.c_play span {
    color: #FFF;
}

.logged img {
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}

/* --- login --- */

.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: auto !important;
    right: 0;
}

.swiper-pagination-bullet-active {
    background: #08C299 !important;
}

/* SECREEN WIDTH undeer 992px */

@media screen and (max-width: 991px) {}

/* SCREEN WIDTH <= 640px */

@media screen and (max-width: 768px) {
    .bigmeal_content figcaption label {
        display: inline-block;
    }
    .carousel-inner>.item>img,
    .carousel-inner>.item>a>img {
        height: 700px;
    }
    .carousel-caption {
        top: 120px;
    }
    .carousel-caption h3 {
        font-size: 24px;
    }
    .search__select {
        width: 100%;
    }
    .search_box .select--field {
        border-left: 1px solid #dcdcdc;
        width: 100%;
        margin: 10px 0;
    }
    .search_box .search-btn {
        margin-left: 0;
    }
    .prefrences {
        margin-top: 50px;
    }
    .choose_title {
        color: #383334;
    }
    .paymet_methods li {
        display: block;
    }
    .address_block h3 {
        margin-top: 20px;
    }
    .add_small {
        margin-top: 20px;
    }
    .facebook,
    .twitter {
        display: block;
    }
    ul.dropdown-menu li a,
    ul.mega-menu li ul li a {
        height: auto;
    }
}