@font-face {
    font-family: "ge_ss_two_medium";
    font-style: normal;
    font-weight: normal;
	src: url('../fonts/ge_ss_two_medium.eot');
    src: local("ge_ss_two_medium"), url("../fonts/ge_ss_two_medium.woff") format("woff"), url("../fonts/ge_ss_two_medium.ttf") format("truetype"), url("../fonts/ge_ss_two_medium.svg") format("svg");
}
/*****************************/
body, html, a, h1, h2, h3, h4, h5, h6, li {
    font-family: "ge_ss_two_medium", 'Segoe UI', Tahoma, Verdana, sans-serif;
    direction: rtl;
    text-align: right;
}
.top-menu ul li a{
    font-family: "ge_ss_two_medium", 'Segoe UI', Tahoma, Verdana, sans-serif;

}
.top-menu ul li a i {
    font-size: 16px;
    margin-right: 0;
    margin-left: 15px;
}
#dropdownMenuLink{
    display: block;
}
.profile-top-pic {
    width: 42px;
    height: 42px;
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}
.dropdown-item{
    text-align: right !important;
}