@font-face {
  font-family: "Geomanist";
  src: url("../fonts/geomanist-regular-webfont.eot");
  src: url("../fonts/geomanist-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/geomanist-regular-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-regular-webfont.woff") format("woff"),
    url("../fonts/geomanist-regular-webfont.ttf") format("truetype"),
    url("../fonts/geomanist-regular-webfont.svg#geomanistregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
/**********
Checkbox customization
 */
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #503fa3;
  border: 0 !important;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(3, 194, 87, 0.25);
}
p {
  font-size: 14px;
}
/*********************/
.date-picker {
  background: #fff;
  box-shadow: 0 0 2px #ccc;
  padding: 6px 15px;
  border-radius: 40rem;
  line-height: 39px;
}
.date-picker .date {
}
.date-picker .date span:first-child {
  color: #ccc;
}

.date-picker .date span:last-child {
}
.date-picker .date i {
}
.date-picker .date input {
}
h1 {
  font-family: Gilroy-Bold;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-family: Geomanist;
  font-size: 24px;
  font-weight: bold;
  color: #afb2b7;
}
h3 {
  font-weight: bold;
  font-size: 20px;
}
.why .blocks h4 {
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-family: Geomanist;
  font-size: 14px;
  font-weight: 600;
  color: #242a86;
  margin: 0;
}
.sub-title {
  font-family: Geomanist;
  font-size: 20px;
  color: #f8a627;
}
.btn-primary {
  min-width: 190px;
  /* height: 65px; */
  border-radius: 5px;
  background-color: #503fa3;
  /* text-transform: capitalize; */
  /* font-size: 21px; */
  letter-spacing: 1px;
  /* line-height: 50px; */
}
.btn-primary:hover {
  background-color: #6557a9;
}
.alert {
  border-radius: 40.25rem;
}

.text-orange {
  color: #f05333;
}

.form-control {
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form-control:focus {
  box-shadow: none;
}

.form-group label {
  margin-bottom: 0px;
}

.plain-btn {
  background: none;
  border: 0;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

button:focus {
  outline: 0;
  border: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.navbar-toggler-icon {
  background-image: url("../images/burgerIcon.png");
}

.btn-white {
  background: #fff;
  border-radius: 30rem;
  color: #1c4490;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-white i {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-white:hover i {
  margin-left: 5px;
}

.btn-primary-sm {
  background: #1c4490;
  border-radius: 30rem;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 23px;
}

.btn-primary-sm i {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-primary-sm:hover i {
  margin-left: 5px;
}

/*************/
body,
html {
  font-family: Gilroy-Medium, Arial, serif;
  background: #f4f7f9;
}

/**************************
Index
**************************/
header {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  background: url(../images/header-bg.png) no-repeat right center;
  height: 54rem;
}
header h1 {
  letter-spacing: 0;
  line-height: 45px;
  font-family: Gilroy-Bold;
  font-size: 35px;
}
header p {
  font-weight: normal;
  padding-top: 10px;
  font-size: 17px;
  font-family: Gilroy-Medium;
  line-height: 26px;
}
.primary-underlined {
  border-bottom: #1c4490 3px solid;
}
.primary-underlined {
  position: relative;
  width: 169px;
  height: 35px;
  display: inline-block;
}
.primary-underlined:before {
  content: "";
  background: #624fb5;
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -5px;
}
.primary-underlined:after {
  content: "dedicated";
  position: absolute;
  width: 100%;
  top: 0px;
  left: 1px;
}
.green-underlined {
  position: relative;
  width: 95px;
  height: 35px;
  display: inline-block;
}
.green-underlined:before {
  content: "";
  background: #58bb85;
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -1px;
}
.green-underlined:after {
  content: "today";
  position: absolute;
  width: 100%;
  top: 0px;
  left: 1px;
}
.why {
  background-color: #eefbff;
  padding: 60px 0;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
}
.blocks > div {
  flex-basis: 50%;
  display: flex;
  margin-bottom: 36px;
}

.owl-dot {
  width: 11px;
  height: 11px;
  background: #c6d0cf;
  float: left;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 47px 5px 62px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.owl-dot.active,
.owl-dot:hover {
  background: #ffc001;
}

.team-slider .owl-dots {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  padding-left: 60px;
}
awesome-screenshots .owl-controls {
  width: 1170px;
  margin: 0 auto;
  max-width: 98%;
}

.owl-controls .owl-nav {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
  display: inline-block;
  float: left;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin: 55px 0 15px 35px;
  position: relative;
}

.owl-controls .owl-nav .owl-prev:before,
.owl-controls .owl-nav .owl-next:before {
  content: "";
  display: inline-block;
  font-family: "Flaticon";
  font-size: 20px;
  color: #a0a0a0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.owl-controls .owl-nav .owl-prev:before {
  content: "\f102";
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 5px;
  left: 7px;
}

.owl-controls .owl-nav .owl-next:before {
  content: "\f102";
  margin-left: 3px;
}

.owl-controls .owl-nav .owl-prev:after,
.owl-controls .owl-nav .owl-next:after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #c6d0cf;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.owl-controls .owl-nav .owl-prev:hover:after,
.owl-controls .owl-nav .owl-next:hover:after {
  background-color: #ffc001;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.team-slider .owl-controls {
  position: absolute;
  top: -80px;
  right: 0;
}

/* 16. Contact Us */
.contact-us {
  background: #503fa3;
  position: relative;
  color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  border: 1px solid #8b68ff;
  height: 69px;
  border-radius: 50px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  padding: 4px 30px;
  opacity: 1;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-form textarea {
  height: 155px;
  padding: 26px 30px;
  resize: none;
  border-radius: 25px;
  overflow: auto;
}
.contact-form textarea::placeholder, .contact-form input::placeholder {
  color: #fff !important
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #ffffff;
  outline: 0;
}

.contact-form input[type="text"]::-webkit-input-placeholder,
.contact-form input[type="email"]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]:-moz-placeholder,
.contact-form input[type="email"]:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]::-moz-placeholder,
.contact-form input[type="email"]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]:-ms-input-placeholder,
.contact-form input[type="email"]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: #8b8b8b;
}

.contact-form .fill-btn {
  padding: 21.5px 64.5px;
  color: #000;
  margin-bottom: 3px;
}

.contact-us .square,
.contact-us .sec-pattern,
.newsletter .square,
.newsletter .sec-pattern {
  height: 91%;
}

.fill-btn {
  color: #fff;
  background-color: #000000;
  display: inline-block;
  padding: 13px 57px;
  border-radius: 50px;
  border: 3px solid #000;
  font-family: "Rajdhani", sans-serif;
}

.fill-btn:hover {
  background-color: transparent;
  color: #000;
}

.fill-btn.yellow-btn {
  background-color: #ffffff;
  border: 3px solid #ffffff;
  cursor: pointer;
  outline: 0;
  transition: all 0.3s ease 0s;
}

.fill-btn.yellow-btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.get-app-btn .fill-btn {
  margin: 17px 0;
}

.yellow-block .sec-caption {
  color: #6e6e6e;
}

/* 17. Footer */

.copyright h6 {
  display: inline-block;
  margin-right: 20px;
  color: #7e7e7e;
  position: relative;
  top: 7.5px;
  float: left;
}

.copyright .footer-logo {
  max-width: 108px;
  display: inline-block;
}

.copyright .footer-logo img {
  width: 100%;
  vertical-align: top;
}

.social-icons ul {
  list-style: none;
  padding: 0;
}

.social-icons ul li {
  display: inline-block;
  float: left;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #c6d0cf;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: transparent;
  margin: 0 auto 0 36px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons ul li a {
  font-size: 28px;
  color: #b2b2b2;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 48px;
}

.social-icons ul li:hover {
  background-color: #ffc001;
  border-color: #ffc001;
}

.social-icons ul li:hover a {
  color: #fff;
}

.copyright {
  padding: 8.5px 0;
}

.copyright,
.social-icons {
  /*margin: 8px 0 3px;*/
}

/* 18. back to top css */

.back-to-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: -50px;
  right: 20px;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
  line-height: 60px;
}

.back-to-top:before {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  background: #ffc001;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  left: 10px;
  top: 10px;
}

.back-to-top:hover:before {
  background: #201f1f;
}

.back-to-top i {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.back-to-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
  bottom: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.back-to-top.cd-is-visible,
.back-to-top.cd-fade-out,
.no-touch .back-to-top:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.h-65 {
  height: 58px;
}
.lh-50 {
  line-height: 44px;
}
.selected-team-area {
  background: #fff;
  min-height: 200px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.custom-chkbx {
  width: 200px;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  background: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}
.custom-chkbx > input {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-chkbx > label {
  width: 100%;
}

.custom-control-label::before {
  top: -5px;
  left: auto;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 100% !important;
}
.custom-control-label::after {
  top: -3px;
  left: auto;
  right: -2.5px;
}
.cost-area-inner {
  color: #624fb5;
  font-size: 44px;
  text-align: center;
}
.stored-cost {
  color: #624fb5;
  font-size: 44px;
  text-align: center;
}
.cost-area {
  display: none;
}
p.select-stmnt {
  font-size: 17px;
  /* font-weight: bold; */
}
.selected-team-area > div {
  color: #624fb5;
  background: rgba(98, 79, 181, 0.2);
  margin: 1px;
  padding: 3px 8px;
  float: left;
  font-size: 13px;
  font-weight: bold;
}

.card-title {
  font-size: 23px;
}

#featured-work{}
#featured-work .item{}
.team-box{}
.team-img{}
.team-img img{}
.team-box h4{
    margin-top: 20px;
}
.team-box h4 a{
    color: #000;
}
.team-box h5{
    margin-bottom: 35px;
}


.modalbox.success,
.modalbox.error {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  padding: 25px 25px 15px;
  text-align: center;
}
.modalbox.success.animate .icon,
.modalbox.error.animate .icon {
  -webkit-animation: fall-in 0.75s;
  -moz-animation: fall-in 0.75s;
  -o-animation: fall-in 0.75s;
  animation: fall-in 0.75s;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.modalbox.success h1,
.modalbox.error h1 {
  font-family: 'Montserrat', sans-serif;
}
.modalbox.success p,
.modalbox.error p {
  font-family: 'Open Sans', sans-serif;
}
.modalbox.success button,
.modalbox.error button,
.modalbox.success button:active,
.modalbox.error button:active,
.modalbox.success button:focus,
.modalbox.error button:focus {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-top: 15px;
  width: 80%;
  background: transparent;
  color: #4caf50;
  border-color: #4caf50;
  outline: none;
}
.modalbox.success button:hover,
.modalbox.error button:hover,
.modalbox.success button:active:hover,
.modalbox.error button:active:hover,
.modalbox.success button:focus:hover,
.modalbox.error button:focus:hover {
  color: #fff;
  background: #4caf50;
  border-color: transparent;
}
.modalbox.success .icon,
.modalbox.error .icon {
  position: relative;
  margin: 0 auto;
  margin-top: -75px;
  background: #4caf50;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.modalbox.success .icon span,
.modalbox.error .icon span {
  postion: absolute;
  font-size: 4em;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.modalbox.error button,
.modalbox.error button:active,
.modalbox.error button:focus {
  color: #f44336;
  border-color: #f44336;
}
.modalbox.error button:hover,
.modalbox.error button:active:hover,
.modalbox.error button:focus:hover {
  color: #fff;
  background: #f44336;
}
.modalbox.error .icon {
  background: #f44336;
}
.modalbox.error .icon span {
  padding-top: 25px;
}
.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
/* stupid browser compat. smh */
}
.center .change {
  clearn: both;
  display: block;
  font-size: 10px;
  color: #ccc;
  margin-top: 10px;
}
@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 25%;
  }
}
@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }
  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }
  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }
  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}
@keyframes plunge {
  0% {
    margin-top: -100%;
  }
  100% {
    margin-top: 15%;
  }
}

.or {
  display: flex;
  align-items: center;
}

.or:after {
  content: "";
  width: 84%;
  height: 1px;
  background: #FFF;
  margin-left: 5px;
}


.right-panel {
  background: #FFF;
  border-radius: 6px;
  padding: 16px;
}