	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/12/2016 14:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.html");
  src: url("Flaticond41d.html?#iefix") format("embedded-opentype"),
       url("Flaticon-2.html") format("woff"),
       url("Flaticon-3.html") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
        /*font-size: 20px;
margin-left: 20px;*/
}

.flaticon-android:before { content: "\f100"; }
.flaticon-arrows:before { content: "\f101"; }
.flaticon-arrows-1:before { content: "\f102"; }
.flaticon-cloud-computing:before { content: "\f103"; }
.flaticon-dashboard:before { content: "\f104"; }
.flaticon-facebook:before { content: "\f105"; }
.flaticon-google-plus:before { content: "\f106"; }
.flaticon-graphic-design:before { content: "\f107"; }
.flaticon-laptop:before { content: "\f108"; }
.flaticon-linkedin:before { content: "\f109"; }
.flaticon-monitor:before { content: "\f10a"; }
.flaticon-pen:before { content: "\f10b"; }
.flaticon-picture:before { content: "\f10c"; }
.flaticon-pinterest:before { content: "\f10d"; }
.flaticon-play-button:before { content: "\f10e"; }
.flaticon-smartphone:before { content: "\f10f"; }
.flaticon-social:before { content: "\f110"; }
.flaticon-square:before { content: "\f111"; }
.flaticon-target:before { content: "\f112"; }
.flaticon-technology:before { content: "\f113"; }
.flaticon-twitter:before { content: "\f114"; }
.flaticon-windows:before { content: "\f115"; }
.flaticon-youtube:before { content: "\f116"; }