@media only screen and (min-width: 992px) and (max-width: 1199px) {}

@media only screen and (min-width: 768px) and (max-width: 991px) {}

@media only screen and (min-width: 545px) and (max-width: 767px) {
    header {
        background: transparent;
    }

    header .caption {
        margin-top: 100px;
    }

    .loading-page {
        /* width: 81%; */
    }

    .blocks>div {
        flex-basis: 100%;
        padding: 0 15px;
    }

    .social-icons ul {
        text-align: center;
    }

    .social-icons ul li {
        float: none;
        margin: 10px;
        display: inline-block;
    }

    .copyright {
        text-align: center;
    }

    .copyright, .social-icons {
        margin: 5px;
    }

    .copyright h6 {
        float: none;
        vertical-align: bottom;
        top: auto;
    }

    .step-content h2 {
        margin-top: 50px;
    }

    .schedule-meeting, .calendly-inline-widget {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .footer-left ul {
        margin: 20px;
    }

    .copyright {
        flex-direction: column;
    }

    #wizard>.steps ul {
        width: 250px;
    }

    #wizard>.steps li a::after {
        width: 38px;
    }

    .modal-header {
        margin-top: 20px;
    }

    #wizard>.steps {
        margin-top: 100px;
    }

}

@media only screen and (max-width: 544px) {
    header {
        background: transparent;
    }

    header .caption {
        margin-top: 100px;
    }

    header > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header button {
        margin-top: 20px;
    }

    .loading-page {
        /* width: 81%; */
    }

    .blocks>div {
        flex-basis: 100%;
        padding: 0 15px;
    }

    .social-icons ul {
        text-align: center;
    }

    .social-icons ul li {
        float: none;
        margin: 10px;
        display: inline-block;
    }

    .copyright {
        text-align: center;
    }

    .copyright, .social-icons {
        margin: 5px;
    }

    .copyright h6 {
        float: none;
        vertical-align: bottom;
        top: auto;
    }

    .step-content h2 {
        margin-top: 50px;
    }

    .schedule-meeting,.calendly-inline-widget {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer-left ul {
        margin: 20px;
    }

    .copyright {
        flex-direction: column;
    }

    .details-main li::after {
        display: none;
    }

    .start-project {
        padding: 20px;
    }

    .start-project h1 {
        font-size: 20px;
    }

    .start-project p {
        font-size: 16px;
    }

    .contact-us .continue-btn {
        font-size: 16px;
        padding: 15px;
    }

    #wizard>.steps ul {
        width: 250px;
    }

    #wizard>.steps li a::after {
        width: 38px;
    }

    .modal-header {
        margin-top: 20px;
    }

    #wizard>.steps {
        margin-top: 100px;
    }

    .wizard > .content > .body label {
        font-size: 14px;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {}