@font-face {
  font-family: "Geomanist";
  src: url("../fonts/geomanist-regular-webfont.eot");
  src: url("../fonts/geomanist-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/geomanist-regular-webfont.woff2") format("woff2"),
    url("../fonts/geomanist-regular-webfont.woff") format("woff"),
    url("../fonts/geomanist-regular-webfont.ttf") format("truetype"),
    url("../fonts/geomanist-regular-webfont.svg#geomanistregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2"),
    url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype"),
    url("../fonts/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.ttf") format("truetype"),
    url("../fonts/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}

/**********
Checkbox customization
 */
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #fff;
  border: 0 !important;
  visibility: visible;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='blue' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(3, 194, 87, 0.25);
}

p {
  font-size: 14px;
}

/*********************/
.date-picker {
  background: #fff;
  box-shadow: 0 0 2px #ccc;
  padding: 6px 15px;
  border-radius: 40rem;
  line-height: 39px;
}

.date-picker .date {}

.date-picker .date span:first-child {
  color: #ccc;
}

.date-picker .date span:last-child {}

.date-picker .date i {}

.date-picker .date input {}

h1 {
  font-family: Gilroy-Bold;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

h2 {
  font-family: Geomanist;
  font-size: 24px;
  font-weight: bold;
  color: #afb2b7;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

.why .blocks h4 {
  font-family: Gilroy-Medium;
  font-size: 20px;
  font-weight: bold;
}

h5 {
  font-family: Geomanist;
  font-size: 14px;
  font-weight: 600;
  color: #242a86;
  margin: 0;
}

.sub-title {
  font-family: Geomanist;
  font-size: 20px;
  color: #f8a627;
}

.btn-primary {
  min-width: 190px;
  /* height: 65px; */
  border-radius: 5px;
  background-color: #503fa3;
  /* text-transform: capitalize; */
  /* font-size: 21px; */
  letter-spacing: 1px;
  /* line-height: 50px; */
  border: none;
}

.btn-primary:hover {
  background-color: #6557a9;
}

.alert {
  border-radius: 40.25rem;
}

.text-orange {
  color: #f05333;
}

.form-control {
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.form-control:focus {
  box-shadow: none;
}

.form-group label {
  margin-bottom: 0px;
}

.plain-btn {
  background: none;
  border: 0;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
}

button:focus {
  outline: 0;
  border: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.navbar-toggler-icon {
  background-image: url("../images/burgerIcon.png");
}

.btn-white {
  background: #fff;
  border-radius: 30rem;
  color: #1c4490;
  font-weight: bold;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-white i {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-white:hover i {
  margin-left: 5px;
}

.btn-primary-sm {
  background: #1c4490;
  border-radius: 30rem;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  padding: 8px 23px;
}

.btn-primary-sm i {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-primary-sm:hover i {
  margin-left: 5px;
}

/*************/
body,
html {
  font-family: Gilroy-Medium, Arial, serif;
  /* background: #f4f7f9; */
}

/**************************
Index
**************************/
header {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  background: url(../images/header-bg.png) no-repeat right center;
  height: 54rem;
}

header .caption {
  margin-top: 160px;
}

header h1 {
  letter-spacing: 0;
  line-height: 45px;
  font-family: Gilroy-Bold;
  font-size: 35px;
}

header p {
  font-weight: normal;
  padding-top: 10px;
  font-size: 17px;
  font-family: Gilroy-Medium;
  line-height: 26px;
}

.primary-underlined {
  border-bottom: #1c4490 3px solid;
}

.primary-underlined {
  position: relative;
  width: 169px;
  height: 35px;
  display: inline-block;
}

.primary-underlined:before {
  content: "";
  background: #624fb5;
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -5px;
}

.primary-underlined:after {
  content: "dedicated";
  position: absolute;
  width: 100%;
  top: 0px;
  left: 1px;
}

.green-underlined {
  position: relative;
  width: 95px;
  height: 35px;
  display: inline-block;
}

.green-underlined:before {
  content: "";
  background: #58bb85;
  position: absolute;
  width: 100%;
  height: 7px;
  bottom: -1px;
}

.green-underlined:after {
  content: "today";
  position: absolute;
  width: 100%;
  top: 0px;
  left: 1px;
}

.why {
  background-color: #eefbff;
  padding: 60px 0;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blocks>div {
  flex-basis: 48%;
  display: flex;
  margin-bottom: 36px;
}

.owl-dot {
  width: 11px;
  height: 11px;
  background: #c6d0cf;
  float: left;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin: 47px 5px 62px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.owl-dot.active,
.owl-dot:hover {
  background: #ffc001;
}

.team-slider .owl-dots {
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  padding-left: 60px;
}

awesome-screenshots .owl-controls {
  width: 1170px;
  margin: 0 auto;
  max-width: 98%;
}

.owl-controls .owl-nav {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.owl-controls .owl-nav .owl-prev,
.owl-controls .owl-nav .owl-next {
  display: inline-block;
  float: left;
  font-size: 0;
  width: 40px;
  height: 40px;
  margin: 55px 0 15px 35px;
  position: relative;
}

.owl-controls .owl-nav .owl-prev:before,
.owl-controls .owl-nav .owl-next:before {
  content: "";
  display: inline-block;
  font-family: "Flaticon";
  font-size: 20px;
  color: #a0a0a0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.owl-controls .owl-nav .owl-prev:before {
  content: "\f102";
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  top: 5px;
  left: 7px;
}

.owl-controls .owl-nav .owl-next:before {
  content: "\f102";
  margin-left: 3px;
}

.owl-controls .owl-nav .owl-prev:after,
.owl-controls .owl-nav .owl-next:after {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #c6d0cf;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.owl-controls .owl-nav .owl-prev:hover:after,
.owl-controls .owl-nav .owl-next:hover:after {
  background-color: #ffc001;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.team-slider .owl-controls {
  position: absolute;
  top: -80px;
  right: 0;
}

/* 16. Contact Us */
.contact-us {
  background: #503fa3;
  position: relative;
  color: #fff;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  border: 1px solid #fff;
  height: 50px;
  /* border-radius: 50px; */
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  font-style: italic;
  padding: 4px 30px;
  opacity: 1;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-form textarea {
  height: 135px;
  padding: 26px 30px;
  resize: none;
  /* border-radius: 25px; */
  overflow: auto;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
  color: #fff !important;
  opacity: .5;
}

.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border-color: #ffffff;
  outline: 0;
}

.contact-form input[type="text"]::-webkit-input-placeholder,
.contact-form input[type="email"]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]:-moz-placeholder,
.contact-form input[type="email"]:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]::-moz-placeholder,
.contact-form input[type="email"]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  color: #8b8b8b;
}

.contact-form input[type="text"]:-ms-input-placeholder,
.contact-form input[type="email"]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  color: #8b8b8b;
}

.contact-form .fill-btn {
  padding: 10.5px 25.5px;
  color: #000;
  margin-bottom: 3px;
  border-radius: 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #624fb5;
}

.contact-us .square,
.contact-us .sec-pattern,
.newsletter .square,
.newsletter .sec-pattern {
  height: 91%;
}

.fill-btn {
  color: #fff;
  background-color: #000000;
  display: inline-block;
  padding: 13px 57px;
  border-radius: 50px;
  border: 3px solid #000;
  font-family: "Rajdhani", sans-serif;
}

.fill-btn:hover {
  background-color: transparent;
  color: #000;
}

.fill-btn.yellow-btn {
  background-color: #ffffff;
  border: 3px solid #ffffff;
  cursor: pointer;
  outline: 0;
  transition: all 0.3s ease 0s;
}

.fill-btn.yellow-btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.get-app-btn .fill-btn {
  margin: 17px 0;
}

.yellow-block .sec-caption {
  color: #6e6e6e;
}

/* 17. Footer */

.copyright h6 {
  display: inline-block;
  margin-right: 20px;
  color: #7e7e7e;
  position: relative;
  top: 14.5px;
  float: left;
}

.copyright .footer-logo {
  max-width: 108px;
  display: inline-block;
}

.copyright .footer-logo img {
  width: 100%;
  vertical-align: top;
}

.social-icons ul {
  list-style: none;
  padding: 0;
}

.social-icons ul li {
  display: inline-block;
  float: left;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  border: 1px solid #c6d0cf;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: transparent;
  margin: 0 auto 0 36px;
  z-index: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.social-icons ul li a {
  font-size: 28px;
  color: #b2b2b2;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 48px;
}

.social-icons ul li a i {
  margin-top: 8px;
}

.social-icons ul li:hover {
  background-color: #ffc001;
  border-color: #ffc001;
}

.social-icons ul li:hover a {
  color: #fff;
}

.copyright {
  padding: 8.5px 0;
}

.copyright,
.social-icons {
  /*margin: 8px 0 3px;*/
}

/* 18. back to top css */

.back-to-top {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: -50px;
  right: 20px;
  z-index: 10;
  overflow: hidden;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  text-align: center;
  line-height: 60px;
}

.back-to-top:before {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  background: #ffc001;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  left: 10px;
  top: 10px;
}

.back-to-top:hover:before {
  background: #201f1f;
}

.back-to-top i {
  color: #fff;
  font-size: 16px;
  position: relative;
}

.back-to-top.cd-is-visible {
  visibility: visible;
  opacity: 1;
  bottom: 20px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
}

.back-to-top.cd-is-visible,
.back-to-top.cd-fade-out,
.no-touch .back-to-top:hover {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.h-65 {
  height: 58px;
}

.lh-50 {
  line-height: 44px;
}

.selected-team-area {
  background: #fff;
  /* min-height: 200px; */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.custom-chkbx {
  margin: 10px 0;
  padding: 0;
  text-align: center;
  background: #fff;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.custom-chkbx.selected {
  background: #624fb5;
  color: #fff;
}

.custom-chkbx>input {
  position: absolute;
  top: 0;
  right: 0;
}

.custom-chkbx>label {
  width: 100%;
}

.custom-control-label::before {
  top: -5px;
  left: auto;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 100% !important;
  visibility: hidden;
}

.custom-control-label::after {
  top: -3px;
  left: auto;
  right: -2.5px;
}

.cost-area-inner {
  color: #624fb5;
  font-size: 44px;
  text-align: center;
}

.stored-cost {
  color: #624fb5;
  font-size: 44px;
  text-align: center;
}

.cost-area {
  display: none;
}

p.select-stmnt {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}

.selected-team-area>div {
  color: #624fb5;
  background: rgba(98, 79, 181, 0.2);
  margin: 1px;
  padding: 3px 8px;
  float: left;
  font-size: 13px;
  font-weight: bold;
}

.card {
  border: none;
}

.card-title {
  font-size: 23px;
}

#featured-work {}

#featured-work .item {
  flex-basis: 33.33%;
}

#featured-work .item:nth-child(2),
#featured-work .item:nth-child(5) {
  /* margin-top: 90px; */
}

.team-box {}

.team-img {
  box-shadow: 3px 0 10px rgba(98, 79, 181, 0.1);
  border-radius: 10px;
  overflow: hidden;
  height: 300px;
  transition: all .3s ease;
}

.team-img img {
  width: 100%;
}

.team-img:hover {
  opacity: .9;
}

.team-box h4 {
  margin-top: 20px;
}

.team-box h4 a {
  color: #000;
}

.team-box h5 {
  margin-bottom: 35px;
}


.modalbox.success,
.modalbox.error {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  padding: 25px 25px 15px;
  text-align: center;
}

.modalbox.success.animate .icon,
.modalbox.error.animate .icon {
  -webkit-animation: fall-in 0.75s;
  -moz-animation: fall-in 0.75s;
  -o-animation: fall-in 0.75s;
  animation: fall-in 0.75s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.modalbox.success h1,
.modalbox.error h1 {
  font-family: 'Montserrat', sans-serif;
}

.modalbox.success p,
.modalbox.error p {
  font-family: 'Open Sans', sans-serif;
}

.modalbox.success button,
.modalbox.error button,
.modalbox.success button:active,
.modalbox.error button:active,
.modalbox.success button:focus,
.modalbox.error button:focus {
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  margin-top: 15px;
  width: 80%;
  background: transparent;
  color: #4caf50;
  border-color: #4caf50;
  outline: none;
}

.modalbox.success button:hover,
.modalbox.error button:hover,
.modalbox.success button:active:hover,
.modalbox.error button:active:hover,
.modalbox.success button:focus:hover,
.modalbox.error button:focus:hover {
  color: #fff;
  background: #4caf50;
  border-color: transparent;
}

.modalbox.success .icon,
.modalbox.error .icon {
  position: relative;
  margin: 0 auto;
  margin-top: -75px;
  background: #4caf50;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.modalbox.success .icon span,
.modalbox.error .icon span {
  postion: absolute;
  font-size: 4em;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}

.modalbox.error button,
.modalbox.error button:active,
.modalbox.error button:focus {
  color: #f44336;
  border-color: #f44336;
}

.modalbox.error button:hover,
.modalbox.error button:active:hover,
.modalbox.error button:focus:hover {
  color: #fff;
  background: #f44336;
}

.modalbox.error .icon {
  background: #f44336;
}

.modalbox.error .icon span {
  padding-top: 25px;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  /* stupid browser compat. smh */
}

.center .change {
  clearn: both;
  display: block;
  font-size: 10px;
  color: #ccc;
  margin-top: 10px;
}

@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 25%;
  }
}

@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 25%;
  }
}

@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 25%;
  }
}

@-moz-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-webkit-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-o-keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes fall-in {
  0% {
    -ms-transform: scale(3, 3);
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    opacity: 0;
  }

  50% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
  }

  60% {
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
  }

  100% {
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 15%;
  }
}

@-webkit-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 15%;
  }
}

@-o-keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 15%;
  }
}

@keyframes plunge {
  0% {
    margin-top: -100%;
  }

  100% {
    margin-top: 15%;
  }
}

.or {
  display: flex;
  align-items: center;
}

.or:after {
  content: "";
  width: 84%;
  height: 1px;
  background: #FFF;
  margin-left: 5px;
}


.right-panel {
  background: #FFF;
  border-radius: 6px;
  padding: 50px;
  min-height: 300px;
  text-align: center;
}


/* ---- */
.modal-dialog {
  max-width: 100% !important;
  width: 100%;
  margin: 0;
}

.modal-content {
  border-radius: 0;
}

.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px
}

.sk-wave .sk-rect {
  background-color: #503fa3;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-waveStretchDelay 1.2s infinite ease-in-out
}

.sk-wave .sk-rect1 {
  animation-delay: -1.2s
}

.sk-wave .sk-rect2 {
  animation-delay: -1.1s
}

.sk-wave .sk-rect3 {
  animation-delay: -1s
}

.sk-wave .sk-rect4 {
  animation-delay: -.9s
}

.sk-wave .sk-rect5 {
  animation-delay: -.8s
}

@keyframes sk-waveStretchDelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4)
  }

  20% {
    transform: scaleY(1)
  }
}

.loading-page {
  background: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999
}

.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 20% auto
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #329AB1;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s
}

@-webkit-keyframes bounce {

  0%,
  100% {
    -webkit-transform: scale(0)
  }

  50% {
    -webkit-transform: scale(1)
  }
}

@keyframes bounce {

  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0)
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1)
  }
}

#wizard>.steps {
  /* display: none; */
}

#bookYourTeam {
  background: #000;
}

.modal-content {
  background: #000;
}

.modal-header {
  border-bottom: none;
  position: absolute;
  width: 100%;
  /* top: 20px; */
  display: flex;
  align-items: center;
  margin-top: 50px;
  padding: 0;
  z-index: 3;
}

.modal-content .container {
  position: relative;
}

.modal-body {
  padding: 20px 0;
}

.step-content {
  /* margin-top: 43px; */
}

.step-content h2 {
  font-size: 32px;
  color: #fff;
}

.modal-header .close {
  margin-right: 20px;
}

.step-container {
  margin-top: 50px;
}

.schedule-meeting .form-group {
  margin-bottom: 20px;
}

.schedule-meeting .form-group label {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

.schedule-meeting .form-group label sup {
  font-size: 18px;
  color: red;
}

.schedule-meeting .form-group input,
.schedule-meeting .form-group textarea {
  background: #181818;
  min-height: 50px;
  border-radius: 5px;
  border: none !important;
}

.schedule-btn {
  margin-top: 30px;
}

p.schedule-data {
  text-align: left;
  color: rgba(255, 255, 255, .6);
  margin-top: 20px;
  font-size: 14px;
}

.continue-btn {
  background: #503fa3;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  font-size: 1rem;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 14px 21px;
  -webkit-transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.continue-btn:hover {
  background: #6557a9;
  color: #fff;
}

.continue-btn.btn-arrow {
  position: relative;
  -webkit-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.continue-btn.btn-arrow span {
  display: inline-block;
  position: relative;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: transform;
}

.continue-btn.btn-arrow:hover span {
  -webkit-transform: translate3d(-1rem, 0, 0);
  transform: translate3d(-1rem, 0, 0);
}

.continue-btn.btn-arrow i {
  position: absolute;
  width: 1.1em;
  right: 0px;
  right: 0rem;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  will-change: right, opacity;
}

.continue-btn.btn-arrow:hover i {
  opacity: 1;
  right: -2rem;
}

.mt-50 {
  margin-top: 50px;
}

.error-msg {
  color: red;
  font-size: 12px;
  font-style: italic;
  margin-left: 10px;
  display: none;
}

.contact-us h1 {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.contact-us small {
  opacity: 0.7;
  font-size: 16px;
  color: #ffffff;
}

.contact-container {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.14);
  background-color: #ffffff;
  padding: 45px;
  margin-top: 110px;
}

.contact-container h1 {
  font-size: 24px;
  font-weight: 600;
  color: #624fb5;
}

.contact-container small {
  opacity: 0.6;
  font-size: 16px;
  color: #503fa3;
}

.contact-container ul li {
  margin-bottom: 30px;
}

.contact-container ul li:last-child {
  margin-bottom: 0;
}

.contact-container ul li p {
  font-size: 18px;
  color: #503fa3;
  display: flex;
}

.contact-container ul li p i {
  vertical-align: middle;
  font-size: 33px;
  margin-right: 22px;
  width: 33px;
  text-align: center;
}

ul.flat-social-icons {
  margin-top: 10px;
}

.flat-social-icons li {
  vertical-align: top;
  display: inline;
}

.flat-social-icons a {
  color: #322f30;
  text-decoration: none;
  vertical-align: middle;
}

.flat-social-icons a.facebook {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
}

.flat-social-icons a.facebook:hover {
  background-color: #3d5b99;
  color: #fff;
}

.flat-social-icons a.twitter {
  padding: 10px 12px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
}

.flat-social-icons a.twitter:hover {
  background-color: #00aced;
  color: #fff;
}

.flat-social-icons a.instagram {
  padding: 10px 14px;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  background-color: transparent;
}

.flat-social-icons a.instagram:hover {
  background-color: #e64a41;
  color: #fff;
}

.footer-right {
  display: flex;
  flex-direction: column;
}

.footer-right img {}

.footer-right p {
  margin-top: 30px;
  font-size: 16px;
  color: #212b36;
  line-height: 24px;
}

.footer-left ul {
  -webkit-column-count: 2;
  /* Old Chrome, Safari and Opera */
  -moz-column-count: 2;
  /* Old Firefox */
  column-count: 2;
  column-gap: 80px;
  margin-left: 20px;
}

.footer-left ul li {
  margin-bottom: 10px;
  list-style-type: none;
}

.footer-left ul li a {
  color: #212b36;
  text-decoration: none;
  margin: 0;
  transition: all .2s linear;
}

.footer-left ul li a:hover {
  color: #503fa3;
  /* margin-left: 3px; */
}

#wizard>.steps {
  margin-top: 35px;
}

#wizard>.steps ul {
  text-align: center;
  display: flex;
  width: 450px;
  margin: 20px auto;
  justify-content: space-around;
}

#wizard>.steps li {
  float: none;
  width: auto;
}

#wizard>.steps li a {
  width: 45px;
  background: transparent;
  border: solid 3px #ffffff;
  font-size: 26px;
  font-weight: bold;
  height: 45px;
  line-height: 42px;
  text-align: center;
  position: relative;
  border-radius: 50%;
  padding: 0;
  color: #fff;
}

#wizard>.steps li.current a {
  background: #503fa3;
}

#wizard>.steps li a::after {
  content: "";
  position: absolute;
  width: 106px;
  height: 3px;
  background: #fff;
  top: 18px;
  left: 42px;
}

#wizard>.steps li.last a::after {
  display: none;
}

#wizard>.steps li span {
  display: none;
}

.pageHeader {
  background: none;
  border-bottom: none;
  height: auto;
}

.details {
  margin: 50px 0;
}
.details-main {
  transition: all .3 linear;
}

.details-main img{
  width: 100%;
}

.details-main .img-block{
  overflow: hidden;
  position: relative;
}
.details-main .img-container::after{
  content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    width: 100%;
    height: 100%;
    transform: scale(0,0);
    padding: 21px 56px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    background-color: rgb(37, 39, 42, .4);
}

.details-main .img-container:hover::after {
  transform: scale(1.01);
  z-index: 2;
}

.details-main ul{
  display: flex;
  justify-content: space-between;
  background: #F7F6F9;
  flex-wrap: wrap;
}

.details-main li{
  position: relative;
  padding: 30px;
  text-align: left;
  flex: 1 1 0;
  align-items: center;
}

.details-main li::after{
  content: "";
  background-color: #d5d3e0;
  position: absolute;
  right: 0;
  top: 35px;
  /* bottom: 0; */
  height: 50px;
  width: 1px;
}

.details-main li:last-child::after{
  display: none;
}
.details-main label{
  font-size: 16px;
  font-weight: bold;
  color: #7c6f92;
  text-transform: uppercase;
}

.details-main h4{
  font-size: 22px;
  font-weight: 600;
  color: #4f3ea2;
}

.content-details {
  margin: 70px 0;
}

.content-details h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1d294b;
}

.content-details h4 {
  font-size: 22px;
  color: #1d294b;
  font-weight: 600;
  margin: 40px 0 20px 0;
}

.content-details p {
  font-size: 20px;
  line-height: 1.8;
  color: #1d294b;
}

.cards-container {
  display: grid;
  grid-gap: 2%;
  width: 100%;
  grid-template-columns: 49% 49%;
  align-content: space-between;
}

.card-img {
  overflow: hidden;
  position: relative;
}

.img-container {
  transition: transform .3s ease;
}

.img-container:hover {
  transform: scale(1.03);
}

.img-container img {
  opacity: .9;
  width: 100%;
  transform: translate(0,0);
  transition: opacity .25s ease-in-out;
  
}

.img-container img:hover {
  opacity: 1;
}

.start-project {
  display: flex;
  flex-direction: column;
  padding: 70px 2px 100px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.start-project h1 {
  font-size: 30px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.start-project p {
  font-family: Montserrat;
  font-size: 22px;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 20px;
}

.start-project h1 {

}

.contact-us .continue-btn {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  color: #5040a3;
  margin-top: 60px;
  padding: 20px 50px;
}

#makeMeScrollable, #makeMeScrollable img{height: 450px;}
#makeMeScrollable {width:100%;margin: 0 auto;position: relative;}

#makeMeScrollable div.scrollableArea img
{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
/* ---- */