<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="bower_components/vue/dist/vue.min.js"></script>
    <script src="bower_components/axios/dist/axios.min.js"></script>
    <title>Menioo</title>
</head>

<body>
    <div class="container tabletShow p-0" id="app">
        <img src="images/tablet.png" alt="Notebook" style="width:100%;" />
        <div class="content">
            <nav class="navbar navbar-light bg-light hed">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-white" href="#"><i class="fa fa-exclamation-circle"></i> About</a>
                    </li>
                </ul>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item pb-2">
                        <a class="nav-link" href="#"><img src="images/logo.png" height="25px" /></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fa fa-search"></i> Search</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#"><i class="fa fa-comments"></i> FeedBack</a>
                    </li>
                </ul>
            </nav>
            <div class="container pt-3">
                <h6 class="pb-2">Classic's Menus</h6>
                <div class="row">

                    <div class="col-lg-4 col-4 pt-3" v-for="menu in menus" @click="goTo(menu)">
                        <div class="card cardPreview">
                            <img class="card-img-top" height="100px" src="images/cofe.jpg" alt="Card image" />
                            <div class="card-body pt-0 pb-3 px-1">
                                <div class="row">
                                    <div class="col-12">
                                        <a href="#">{{menu.name}}</a>
                                        <img src="images/icon.svg" width="15px" class="float-right pt-2" />
                                        <p class="mb-1">Sometext Here Sometext Here</p>
                                    </div>
                                    <div class="col-lg-6 col-6">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script type="text/javascript">

        function findGetParameter(parameterName) {
            var result = null,
                tmp = [];
            var items = location.search.substr(1).split("&");
            for (var index = 0; index < items.length; index++) {
                tmp = items[index].split("=");
                if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
            }
            return result;
        }

        let menuID = findGetParameter("menuID");
        let customerID = findGetParameter("customerID");



        function goTo(menu) {
            window.location.href = `show.html?customerID=${customerID}&menuID=${menu.id}`;
        }

        let menus = [];
        axios({
            method: 'get',
            // url: "http://me",
            url: "http://menioo.pencil-designs.com/api/ar/menus?customer_id=1",
            // url: `http://localhost/meniooNew/public/api/ar/menus?customer_id=${customerID}`,
            headers: { Authorization: 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwOlwvXC9tZW5pb28uY29tXC9wdWJsaWNcL2FwaVwvZW5cL3B1YmxpYy1sb2dpbiIsImlhdCI6MTU3NDM2Mjg4MywibmJmIjoxNTc0MzYyODgzLCJqdGkiOiI1UjJRN1BHN25xOEl0a1VPIiwic3ViIjoxLCJwcnYiOiI3OTAxMzI0YWUzYThiMTZjMDhhZmQzZDY0NGQyOGEyM2I1Y2NlOGRiIn0.ZwlFbkbTAtOpM7NRqvosiReG8JtKJRDwBn34TCRkd-E' },
            // data: params,
        })
            .then(function (response) {
                // handle success
                menus = response.data.data.menus;
                console.log(menus);
            })
            .catch(function (error) {
                // handle error
                console.log(error);
            })
            .finally(function () {
                // always executed
                console.log("finally")

                var app = new Vue({
                    el: '#app',
                    data: {
                        menus: menus
                    }
                })
            });
    </script>


</body>

</html>